<%= javascript_tag do %>

    $(document).ready(function() {
    var validator = $("#new_studio").validate(setHighlight());
    validator.element('#studio_studio_name');
    validator.element('#studio_studio_code');
    validator.element('#studio_status');
    });

<% end %>

<%= error_messages_for(@studio) %>

<div style="float: right; padding-top: 20px">
  <%= link_to "Cancel", {:action => :index}, :class => "btn btn-w-m btn-default" %>
  <%= f.submit 'Save', :class => 'btn btn-w-m btn-success' %>
</div>

<div class="clearfix"></div>

<div>
  <hr>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :studio_name, "Studio Name" %>
      <%= f.text_field :studio_name, class: "form-control", required: "required" %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :studio_code, "Studio Code" %>
      <%= f.text_field :studio_code, class: "form-control", required: "required" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :address, "Address" %>
      <%= f.text_field :address, class: "form-control" %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :post_code, "Post Code" %>
      <%= f.text_field :post_code, class: "form-control" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :company_name, "Company Name" %>
      <%= f.text_field :company_name, class: "form-control" %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :company_registration_no, "Company Registration" %>
      <%= f.text_field :company_registration_no, class: "form-control" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :phone_no, "Phone No" %>
      <%= f.text_field :phone_no, class: "form-control" %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :email, "Email" %>
      <%= f.text_field :email, :value=>@studio.email, class: "form-control" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :facebook_address, "Facebook Address" %>
      <%= f.text_field :facebook_address, class: "form-control" %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :website_address, "Website Adderss" %>
      <%= f.text_field :website_address, class: "form-control" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :status, "Status" %>
      <%= f.select :status, options_for_select(Studio.statuses.map { |s| [s[0].humanize, s[0]] }, selected: @studio.status), {} , class: "form-control" %>
    </div>
  </div>
</div>