<% @breadcrumb = link_to('Studios', {:action => 'index'}) + " / " + "<b>Edit</b>".html_safe %>

<%= form_for @studio, url: {:action => 'update', :id => @studio.id} do |f| %>

  <%= render(:partial => "form", :locals => {:f => f}) %>

<% end %>