<%= javascript_tag do %>

	var tableId = 'studios_table';
	var dataTable;

	$(document).ready(function() {
    var statusId = <%= Studio.statuses[:active] %>;
    $('#status').val(statusId);
    initTableWithDeferLoading(tableId, true, 0, 'asc');
    filterData();
	});

    function filterData()
    {
    var statusId = $('#status-select').val();
    var dataTable = $('#' + tableId).DataTable();
    dataTable.columns('4:visIdx').search(statusId).draw();
    }

<% end %>

<% @breadcrumb = "Studios" %>

<div style="float: left; padding-top: 20px">
  <a href="#filter" class="btn btn-default" data-toggle="collapse">Filter</a>
</div>

<div style="float: right; padding-top: 20px">
  <%= link_to "New", {:action => :new}, :class => "btn btn-w-m btn-success" %>
</div>


<div class="clearfix"></div>

<hr>

<div id="filter" class="collapse">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        Status
        <select id="status-select" class="form-control">
          <option value=""></option>
          <% Family.statuses.each do |status| %>
              <option value=<%= status[1] %> <%= 'selected=selected' if status[1] == Family.statuses[:active] %> ><%= status[0].humanize %></option>
          <% end %>
        </select>
      </div>
    </div>
  </div>
  <button id="btnFilter" class="btn btn-primary inline" onclick="filterData()">Search</button>
  <hr>
</div>

<div>
	<table id="studios_table", data-source="<%= data_hq_studios_path(format: :json) %>", class="table table-bordered">
		<thead>
			<tr>
				<th>Studio Name</th>
				<th>Studio Code</th>
				<th>Address</th>
				<th>Post Code</th>
				<th>Company Name</th>
				<th>Company Registration No</th>
				<th>Phone No</th>
				<th>Email</th>
				<th>Facebook Address</th>
				<th>Website Address</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			</tbody>
	</table>
</div>

