<% @breadcrumb = link_to('Studios', {:action => 'index'}) + " / " + "<b>New</b>".html_safe %>

<%= form_for @studio, url: {:action => 'create'} do |f| %>

  <%= render(:partial => "form", :locals => {:f => f}) %>

<% end %>