<% @breadcrumb = "Change Password" %>
</br>
<%= simple_form_for(resource, as: resource_name, url: user_registration_path, html: { method: :patch }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, :label => "New password", autocomplete: "off", required: true %>
    <%= f.input :password_confirmation, :label => "New password confirmation", required: true %>
    <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>
