<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Welcome to MYC, <%= @user.nric_name %></h1>
<p>
  You have successfully signed up to MYC,
</p>
<p>
  To login for the first time, just follow this link: <%= accept_user_invitation_path(@user.raw_invitation_token) %>.
</p>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
<p>Have a great day!</p>
</body>
</html>