Welcome to MYC, <%= @user.nric_name %>
===============================================

You have successfully signed up to MYC,

To login to the site, just follow this link: <%= @url %>.

Have a great day!