<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="exampleModalLabel">Confirmation</h4>
</div>
<%= form_for @teacher_commission_item, url: {:action => 'update'}, remote: true do |f| %>
    <div class="modal-body">
      <div id="error-div"></div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :remarks, 'Percentage' %>
            <%= f.text_area :remarks, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= link_to 'Cancel', '#', class: 'btn btn-default', data: {dismiss: 'modal'} %>
      <%= f.submit 'Save', class: 'btn btn-success' %>
    </div>
<% end %>