<div class="modal-body">
  <div id="error-div"></div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :program, 'Program' %>
        <%= f.text_field :program, class: 'form-control', required: 'true' %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :day, 'Day' %>
        <%= f.text_field :day, class: 'form-control', required: 'true' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :time, 'Time' %>
        <%= f.text_field :time, class: 'form-control', required: 'true' %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :student_nric_name, 'Student' %>
        <%= f.text_field :student_nric_name, class: 'form-control', required: 'true' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :lesson_date, 'Lesson Date' %>
        <%= f.text_field :lesson_date, class: 'form-control datePicker', required: 'true' %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :term_fee, 'Term Fee ($)' %>
        <%= f.text_field :term_fee, class: 'form-control', required: 'true' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :lesson_fee, 'Lesson Fee ($)' %>
        <%= f.text_field :lesson_fee, class: 'form-control', required: 'true' %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :no_of_lesson, 'No of Lesson' %>
        <%= f.text_field :no_of_lesson, class: 'form-control', required: 'true' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :percentage, 'Percentage (%)' %>
        <%= f.text_field :percentage, class: 'form-control', required: 'true' %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :remarks, 'Remarks' %>
        <%= f.text_area :percentage, class: 'form-control' %>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <%= link_to 'Cancel', '#', class: 'btn btn-default', data: {dismiss: 'modal'} %>
  <%= f.submit 'Save', class: 'btn btn-success' %>
</div>