$('.unobtrusive-flash-container').empty() // remove previous message if exists
<% if @teacher_commission_item.errors.any? %>
$('#error-div').html('<%= j(render :partial => 'shared/error_messages', :locals => {:object => @teacher_commission_item}) %>');
<% else %>
$("#modal").modal("hide")
$('#net_pay').val('<%= @net_pay %>');
$('#table-item').DataTable().ajax.reload()
<% end %>