<%= javascript_tag do %>

    $(document).ready(function() {
      var validator = $("#form_id").validate(setHighlight());
      validator.element('#product_item_description');
      validator.element('#product_item_cost');
      validator.element('#product_item_quantity_on_hand');
      validator.element('#product_item_quantity_trigger_alert');
      validator.element('#product_item_status');
    });

<% end %>

<%= error_messages_for(@product_item) %>

<div style="float: right; padding-top: 20px">
  <%= link_to "Cancel", {:action => :index}, :class => "btn btn-w-m btn-default" %>
  <%= f.submit 'Save', :class => 'btn btn-w-m btn-success' %>
</div>

<div class="clearfix"></div>

<div>
  <hr>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :description, "Desciption" %>
      <%= f.text_field :description, class: "form-control", required: "required" %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :cost, "Cost" %>
      <%= f.text_field :cost, class: "form-control", required: "required" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :quantity_on_hand, "Quantity on Hand" %>
      <%= f.text_field :quantity_on_hand, class: "form-control", required: "required" %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :quantity_trigger_alert, "Quantity to Trigger Alert (0 for no trigger)" %>
      <%= f.text_field :quantity_trigger_alert, class: "form-control", required: "required" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :remarks, "Remarks" %>
      <%= f.text_field :remarks, class: "form-control" %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :status, "Status" %>
      <%= f.select :status, options_for_select(ProductItem.statuses.map { |s| [s[0].humanize, s[0]] }, selected: @product_item.status), {} , class: "form-control" %>
    </div>
  </div>
</div>