<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="exampleModalLabel">Add Item</h4>
</div>
<%= form_tag "/myc/product_packs/#{@product_pack_id}/product_items/create" do %>
    <div class="modal-body">
      <div id="error-div"></div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            Product Item
            <select id="product-item-select" class="form-control">
              <option value=""></option>
              <% ProductItem.select_options_id_description.each do |option| %>
                  <option value=<%= option.id %> ><%= option.description %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= link_to 'Cancel', '#', class: 'btn btn-default', data: {dismiss: 'modal'} %>
      <%= submit_tag 'Save', class: 'btn btn-success' %>
    </div>
<% end %>