<%= javascript_tag do %>

    var tableId = 'table';

    $(document).ready(function() {
    initTableWithDeferLoading(tableId, true, 0, 'asc');
    filterData();
    });

    function initTableWithDeferLoading(tableId, enableFeatures, order_by_column_number, order_by_asc_or_desc) {
      dataTable = $('#' + tableId).DataTable({
      processing: true,
      serverSide: true,
      deferLoading: true,
      ajax: {
      "url": $('#' + tableId).data('source'),
      "type": "POST"
      },
      pagingType: 'full_numbers',
      order: [[order_by_column_number, order_by_asc_or_desc]],
      ordering:   enableFeatures,
      paging:   enableFeatures,
      info:   enableFeatures,
      bFilter: enableFeatures,
      pageLength: 100
    });

    return dataTable;
    }

    function filterData()
    {
    var statusId = $('#status-select').val();
    var dataTable = $('#' + tableId).DataTable();
    dataTable.columns(5).search(statusId).draw();
    }
<% end %>

<% @breadcrumb = "Product Items" %>

<div style="float: left; padding-top: 20px">
  <a href="#filter" class="btn btn-default" data-toggle="collapse">Filter</a>
</div>

<div style="float: right; padding-top: 20px">
  <a href="/hq/product_items/new" , class="btn btn-success">New</a>
</div>

<div class="clearfix"></div>

<hr>

<div id="filter" class="collapse">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        Status
        <select id="status-select" class="form-control">
          <option value=""></option>
          <% ProductItem.statuses.each do |status| %>
              <option value=<%= status[1] %> <%= 'selected=selected' if status[1] == ProductItem.statuses[:active] %> ><%= status[0].humanize %></option>
          <% end %>
        </select>
      </div>
    </div>
  </div>
  <button id="btnFilter" class="btn btn-primary inline" onclick="filterData()">Search</button>
  <hr>
</div>

<div>
  <table id="table" data-source="<%= index_data_hq_product_items_path(format: :json) %>" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Description</th>
      <th>Cost</th>
      <th>Quantity on Hand</th>
      <th>Quantity to Trigger Alert</th>
      <th>Remarks</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>



