<%= javascript_tag do %>

    $(document).ready(function() {
      var validator = $("#form_id").validate(setHighlight());
      validator.element('#product_pack_description');
      validator.element('#product_pack_status');
    });

<% end %>

<%= error_messages_for(@product_pack) %>

<div style="float: right; padding-top: 20px">
  <%= link_to "Cancel", {:action => :index}, :class => "btn btn-w-m btn-default" %>
  <%= f.submit 'Save', :class => 'btn btn-w-m btn-success' %>
</div>

<div class="clearfix"></div>

<div>
  <hr>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :description, "Desciption" %>
      <%= f.text_field :description, class: "form-control", required: "required" %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :status, "Status" %>
      <%= f.select :status, options_for_select(ProductPack.statuses.map { |s| [s[0].humanize, s[0]] }, selected: @product_pack.status), {} , class: "form-control" %>
    </div>
  </div>
</div>
