$('.unobtrusive-flash-container').empty() // remove previous message if exists
<% if @product_pack && @product_pack.errors.any? %>
$('#error-div').html('<%= j(render :partial => 'shared/error_messages', locals: {object: @product_pack}) %>');
<% elsif @product_item && @product_item.errors.any? %>
$('#error-div').html('<%= j(render :partial => 'shared/error_messages', locals: {object: @product_item}) %>');
<% else %>
$("#modal").modal("hide")
$('#table').DataTable().ajax.reload()
$('#cost').val('<%= @cost %>');
<% end %>
