<%= javascript_tag do %>

    var tableId = 'table';

    $(document).ready(function() {
    initTableWithFirstColumnActionMenu(tableId, false, 1, 'desc');
    });


<% end %>

<% @breadcrumb = link_to('Product Packs', {:action => 'index'}) + " / " + "<b>Edit</b>".html_safe %>

<%= form_for @product_pack, url: {:action => 'update', :id => @product_pack.id}, :html => {:id => 'form_id'} do |f| %>

  <%= render(:partial => "form", :locals => {:f => f}) %>


    <%= link_to "Add item", "/hq/product_packs/#{@product_pack.id}/select_item", remote: true, class: "btn btn-primary" %>

    <div class="clearfix"></div>

    </br>

    <div>
      <table id="table" data-source="<%= "/hq/product_packs/#{@product_pack.id}/item_data_by_pack.json" %>" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th></th>
          <th>Product Items</th>
          <th>Price</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

    <div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document" display="table">
        <div id="modal-content" class="modal-content">
        </div>
      </div>
    </div>


<% end %>