<% @breadcrumb = link_to('Product Packs', {:action => 'index'}) + " / " + "<b>New</b>".html_safe %>

<%= form_for @product_pack, url: {:action => 'create'}, :html => {:id => 'form_id'} do |f| %>

  <%= render(:partial => "form", :locals => {:f => f}) %>

<% end %>