<%= javascript_tag do %>

    $(document).ready(function() {
      validateFormRequired();
    });

    function validateFormRequired()
    {
    var validator = $("#family_form").validate(setHighlight());
    validator.element('#family_address1');
    validator.element('#family_country');
    validator.element('#family_city_or_state');
    validator.element('#family_primary_contact_name');
    validator.element('#family_primary_contact_phone_no');
    validator.element('#family_primary_contact_relationship');
    validator.element('#family_primary_contact_email');
    validator.element('#family_status');
    }

<% end %>

<%= error_messages_for(@family) %>

<div style="float: right; padding-top: 20px">
  <%= link_to "Cancel", {:action => :index}, :class => "btn btn-w-m btn-default" %>
  <%= f.submit 'Save', :class => 'btn btn-w-m btn-success' %>
</div>

<div class="clearfix"></div>

<div>
  <hr>
</div>

<div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Address</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <%= f.label :address1, "Address1" %>
                  <%= f.text_field :address1, class: "form-control", required: "true" %>
                </div>
                <div class="form-group">
                  <%= f.label :postal_code, "Postal Code" %>
                  <%= f.text_field :postal_code, class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :country, "Country" %>
                  <%= f.text_field :country, class: "form-control", required: "true" %>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <div class="form-group">
                    <%= f.label :address2, "Address2" %>
                    <%= f.text_field :address2, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <%= f.label :city_or_state, "City Or State" %>
                    <%= f.text_field :city_or_state, class: "form-control", required: "true" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Primary Contact </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :primary_contact_name, "Name" %>
                <%= f.text_field :primary_contact_name, class: "form-control", required: "true" %>
              </div>
              <div class="form-group">
                <%= f.label :primary_contact_phone_no, "Phone No" %>
                <%= f.text_field :primary_contact_phone_no, class: "form-control", required: "true" %>
              </div>
              <div class="form-group">
                <%= f.label :primary_contact_occupation, "Occupation" %>
                <%= f.text_field :primary_contact_occupation, class: "form-control" %>
              </div>
              <div class="form-group">
                <div class="checkbox">
                  <label for="has_college_abrsm">
                    <%= f.check_box :primary_contact_accompany_for_student %>Accompany For Student
                  </label>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="form-group">
                  <%= f.label :primary_contact_relationship, "Relationship" %>
                  <%= f.text_field :primary_contact_relationship, class: "form-control", required: "true" %>
                </div>
                <div class="form-group">
                  <%= f.label :primary_contact_email, "Email" %>
                  <%= f.text_field :primary_contact_email, class: "form-control", required: "true" %>
                </div>
                <div class="form-group">
                  <%= f.label :primary_contact_music_background, "Background" %>
                  <%= f.text_field :primary_contact_music_background, class: "form-control" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Other Contact </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :other_contact_name, "Name" %>
                <%= f.text_field :other_contact_name, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :other_contact_phone_no, "Phone No" %>
                <%= f.text_field :other_contact_phone_no, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :other_contact_occupation, "Occupation" %>
                <%= f.text_field :other_contact_occupation, class: "form-control" %>
              </div>
              <div class="form-group">
                <div class="checkbox">
                  <label for="has_college_abrsm">
                    <%= f.check_box :other_contact_accompany_for_student %>Accompany For Student
                  </label>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="form-group">
                  <%= f.label :other_contact_relationship, "Relationship" %>
                  <%= f.text_field :other_contact_relationship, class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :other_contact_email, "Email" %>
                  <%= f.text_field :other_contact_email, class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :other_contact_music_background, "Background" %>
                  <%= f.text_field :other_contact_music_background, class: "form-control" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Status </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :status, "Family Status" %>
                <%= f.select( :status, Family.statuses.map { |s|[s[0].humanize, s[0]]}, {},  { class: "form-control", required: "required" } )  %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

