<% @breadcrumb = link_to('Families', {:action => 'index'}) + " / " + "<b>Edit</b>".html_safe %>

<%= form_for @family, url: {:action => 'update', :id => @family.id} do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

<% end %>