<%= javascript_tag do %>

    $(document).ready(function() {
    $("#family_status option[value= 'active']").prop('selected', true);
    });

<% end %>

<% @breadcrumb = link_to('Families', {:action => 'index'}) + " / " + "<b>New</b>".html_safe %>

<%= form_for @family, url: {:action => 'create'}, :html => {:id => 'family_form'} do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

<% end %>