.field_with_errors label { color: #AA0000; }
.field_with_errors input { border: 1px solid #AA0000; }

#error_explanation {
  color: #AA0000;
  ul {
    color: #AA0000;
    margin: 0 0 30px 0;
  }
}

// set auto size with min width
//.modal-dialog{
//  position: relative;
//  display: table; //This is important
//  overflow-y: auto;
//  overflow-x: auto;
//  width: auto;
//  min-width: 400px;
//}