<%= javascript_tag do %>

    $(document).ready(function() {

    var validator = $("#form_id").validate(setHighlight());
    validator.element('#teacher_gender');
    validator.element('#teacher_date_of_birth_1i');
    validator.element('#teacher_date_of_birth_2i');
    validator.element('#teacher_date_of_birth_3i');

    $(function () {
    $('.datePicker').datetimepicker({
    format: 'DD/MM/YY',
    showTodayButton: true
    });
    });
    });



<% end %>

<%= error_messages_for(@user) %>
<%= error_messages_for(@teacher) %>

<div style="float: right; padding-top: 20px">
  <%= link_to "Cancel", '/hq/users', :class => "btn btn-default" %>
  <%= f.submit 'Save', :class => 'btn btn-w-m btn-success' %>
</div>

<div class="clearfix"></div>

<div>
  <hr>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label">NRIC Name</label>
      <input type="text" class="form-control" name="user_nric_name" value="<%= @nric_name %>" disabled>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label">Email</label>
      <input type="text" class="form-control" name="user_email" value="<%= @email %>" disabled>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label">Phone Number</label>
      <input type="text" class="form-control" name="user_phone_number" value="<%= @phone_number %>" disabled>
    </div>
  </div>
</div>

<div>
  <hr>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :gender, "Gender" %>
      <%= f.select :gender, [:M, :F], {}, {class: "form-control", required: "required"} %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :date_of_birth, "Date of Birth" %>
      <%= f.date_select :date_of_birth, {start_year: Time.now.year-100, end_year: Time.now.year, :include_blank => true}, {required: "required"} %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :number_of_children, "Number of Children" %>
      <%= f.text_field :number_of_children, class: "form-control" %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :full_time_occupation, "Full Time Occupation" %>
      <%= f.text_field :full_time_occupation, class: "form-control" %>
    </div>
  </div>
</div>

<!-- Music Qualifications -->
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">Music Qualifications</div>
      <div class="panel-body">
        <!-- Highest Standard Passed -->
        <h3>Highest Standard Passed</h3>
        <br/>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :highest_piano_practical_standard_passed, "Piano Pratical" %>
              <%= f.text_field :highest_piano_practical_standard_passed, class: "form-control" %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :highest_theory_standard_passed, "Theory" %>
              <%= f.text_field :highest_theory_standard_passed, class: "form-control" %>
            </div>
          </div>
        </div>
        <hr/>
        <!-- College -->
        <h3>College</h3>
        <br/>
        <div class="row">
          <div class="col-sm-6">
            <div class="checkbox">
              <label for="has_college_abrsm">
                <%= f.check_box :has_college_abrsm %>ABRSM
              </label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="checkbox">
              <label for="has_college_lcm">
                <%= f.check_box :has_college_lcm %>LCM
              </label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="checkbox">
              <label for="has_college_trinity">
                <%= f.check_box :has_college_trinity %>Trinity
              </label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :college_others, "Other" %>
              <%= f.text_field :college_others, class: "form-control" %>
            </div>
          </div>
        </div>

        <hr/>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :other_music_qualifications, "Other Music Qualifications " %>
              <%= f.text_field :other_music_qualifications, class: "form-control" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Prior Piano Teaching Experience -->
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">Prior Piano Teaching Experience</div>
      <div class="panel-body">
        <h3>Teaching Individual Lessons</h3>
        <br/>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :before_myc_teaching_individual_lesson_started_year, "Years Started " %>
              <%= f.text_field :before_myc_teaching_individual_lesson_started_year, class: "form-control" %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :before_myc_teaching_individual_lesson_total_year, "Total Year " %>
              <%= f.text_field :before_myc_teaching_individual_lesson_total_year, class: "form-control" %>
            </div>
          </div>
        </div>
        <hr/>
        <h3>Teaching Group Lessons</h3>
        <br/>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :before_myc_teaching_group_lesson_started_year, "Years Started " %>
              <%= f.text_field :before_myc_teaching_group_lesson_started_year, class: "form-control" %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :before_myc_teaching_group_lesson_total_year, "Total Year " %>
              <%= f.text_field :before_myc_teaching_group_lesson_total_year, class: "form-control" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MYC Teaching Experience -->
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">MYC Teaching Experience</div>
      <div class="panel-body">
        <h3>Agreement</h3>
        <br/>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :date_of_myc_teacher_agreement, "Date of MYC Teacher Agreement " %>
              <%= f.text_field :date_of_myc_teacher_agreement, class: "form-control datePicker" %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :date_of_myc_studio_agreement, "Date of MYC Studio Agreement " %>
              <%= f.text_field :date_of_myc_studio_agreement, class: "form-control datePicker" %>
            </div>
          </div>
        </div>
        <hr/>
        <h3>MYC</h3>
        <br/>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :date_of_myc_l1, "L1 (SR, SS1, SB1, MB1) Trained Date" %>
              <%= f.text_field :date_of_myc_l1, class: "form-control datePicker" %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :date_of_myc_l2mb2, "L2 (MB2) Trained Date" %>
              <%= f.text_field :date_of_myc_l2mb2, class: "form-control datePicker" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :date_of_myc_l2ss2, "L2 (SS2) Trained Date" %>
              <%= f.text_field :date_of_myc_l2ss2, class: "form-control datePicker" %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :date_of_myc_l3sb3, "L3 (SB3) Trained Date" %>
              <%= f.text_field :date_of_myc_l3sb3, class: "form-control datePicker" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :date_of_myc_l2sb2, "L2 (SB2) Trained Date" %>
              <%= f.text_field :date_of_myc_l2sb2, class: "form-control datePicker" %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :date_of_myc_l3mb3, "L3 (MB3) Trained Date" %>
              <%= f.text_field :date_of_myc_l3mb3, class: "form-control datePicker" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Teacher Visit -->
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">Teacher Visit</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :date_of_1st_teacher_visit, "Date of 1st Teacher Visit" %>
              <%= f.text_field :date_of_1st_teacher_visit, class: "form-control datePicker" %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :date_of_2nd_teacher_visit, "Date of 2nd Teacher Visit" %>
              <%= f.text_field :date_of_2nd_teacher_visit, class: "form-control datePicker" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :date_of_3rd_teacher_visit, "Date of 3rd Teacher Visit" %>
              <%= f.text_field :date_of_3rd_teacher_visit, class: "form-control datePicker" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
