<% @breadcrumb = link_to('Users', '/hq/users/') + " / Teacher / " + "<b>Edit</b>".html_safe %>

<%= form_for @teacher, url: "/hq/teachers/#{@teacher.id}", :html => {:id => 'form_id'} do |f| %>

  <%= render(:partial => "form", :locals => {:f => f}) %>

<% end %>