<%= javascript_tag do %>

var tableId = 'teachers-table';
var selectAllCheckboxId = 'check-all';
var dataTable;

$(document).ready(function() {
    var statusId = <%= Teacher.statuses[:active] %>;
    $('#status').val(statusId);
    initCheckboxTable(tableId, dataTable, selectAllCheckboxId);
    filterData();
});

function filterData()
{
    var statusId = $('#status').val();
    var teacherTable = $('#' + tableId).DataTable();
    teacherTable.columns('2:visIdx').search(statusId).draw();  //filter data for teacher status
}

<% end %>

<% @breadcrumb = "Teachers" %>


  <div class="row">

    <div class="col-sm-6">
      <div class="form-group">
        <%= label_tag(:status, "Status") %>
        <%= select_tag(:status, options_for_select(@status), {class: 'form-control' })  %>
      </div>
    </div>

  </div>

<button id="btnFilter" class="btn btn-success inline" onclick="filterData()">Filter</button>

  <hr/>


<div style="float: right; padding-top: 20px">
	<div class="dropdown inline">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    More
	    <span class="caret"></span>
	  </button>
	  	<ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
        <li><a href="javascript:sendAjaxData('<%= t('ask_status_make_active') %>', '/hq/teachers/update_status', {'status_id': <%= Teacher.statuses[:active] %>, 'ids': getSelectedIds()})">Make active</a></li>
        <li><a href="javascript:sendAjaxData('<%= t('ask_status_make_inactive') %>', '/hq/teachers/update_status', {'status_id': <%= Teacher.statuses[:inactive] %>, 'ids': getSelectedIds()})">Make inactive</a></li>
        <li><a href="javascript:sendAjaxData('<%= t('ask_status_on_leave') %>', '/hq/teachers/update_status', {'status_id': <%= Teacher.statuses[:on_leave] %>, 'ids': getSelectedIds()})">On leave</a></li>
        <li><a href="javascript:sendAjaxData('<%= t('ask_status_terminated') %>', '/hq/teachers/update_status', {'status_id': <%= Teacher.statuses[:terminated] %>, 'ids': getSelectedIds()})">Terminated</a></li>
        <li><a href="javascript:sendAjaxData('<%= t('ask_status_delete') %>', '/hq/teachers/update_status', {'status_id': <%= Teacher.statuses[:deleted] %>, 'ids': getSelectedIds()})">Delete</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="javascript:sendAjaxData('<%= t('ask_invite') %>', '/hq/teachers/invite', {'ids': getSelectedIds()})">Invite</a></li>
	    </ul>
	</div>

	<%= link_to "New", {:action => :new}, :class => "btn btn-w-m btn-primary" %>
</div>


<div class="clearfix"></div>

<hr>

<div>
	<table id="teachers-table", data-source="<%= data_hq_teachers_path(format: :json) %>" class="table table-bordered">
		<thead>
			<tr>
        <th><input type="checkbox" id="check-all" ></th>
				<th>Teacher Name</th>
				<th>Handphone</th>
				<th>Teacher Status</th>
				<th>L1 (SR, SS1, SB1, MB1) Trained Date</th>
				<th>L2 (SS2) Trained Date</th>
				<th>L2 (SB2) Trained Date</th>
				<th>L2 (MB2) Trained Date</th>				
				<th>L3 (SB2) Trained Date</th>
				<th>L3 (MB2) Trained Date</th>
				<th>1st Teacher Visit Date</th>
				<th>2nd Teacher Visit Date</th>
				<th>3rd Teacher Visit Date</th>			
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>