<%= javascript_tag do %>
    $(document).ready(function() {

      $('#calendar').fullCalendar({
        events: '/myc/calendar.json',
        timeFormat: 'h:mm a'
      })

    });

<% end %>

<% @breadcrumb = 'Calendar' %>
</br>
<div id ="calendar"></div>