<% if object && object.errors.size > 0 %>
    <div id="error_explanation">
      <h3>
        <%= pluralize(object.errors.count, "error") %> prohibited
        this record from being saved:
      </h3>
      <ul>
        <% object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>