<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Attendance</h4>
</div>
<%= form_tag(mark_attendance_myc_lesson_path, method: "post", id: 'mark_attendance_form') do %>
<div class="modal-body">
  <div id="error-div"></div>

  <div class="row">
    <div class="col-md-12">
      <form id="attendanceForm">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <% Attendance.statuses.each do |status| %>
                  <% if status[1] == Attendance.statuses[:present] %>
                      <a class="btn btn-outline btn-primary" href="javascript:setAttendance('<%= status[0].humanize %>')"><%= status[0].humanize %></a>
                  <% elsif status[1] != Attendance.statuses[:null] %>
                      <a class="btn btn-outline btn-default" href="javascript:setAttendance('<%= status[0].humanize %>')"><%= status[0].humanize %></a>
                  <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </form>

      <table id="students-attendance-table"  data-source="<%= student_attendance_data_myc_myc_classes_path(lesson_id: @lesson.id, format: :json) %>"  class="table table-bordered table-striped">
        <thead>
        <tr>
          <th><input type="checkbox" id="check-all" ></th>
          <th>Student</th>
          <th>Attendance Status</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>

    </div>
  </div>

  <%= hidden_field_tag(:lesson_id, @lesson.id) %>
  <%= hidden_field_tag(:attendances_data, '') %>
<% end %>
</div>

<div class="modal-footer">
  <%= link_to 'Cancel', '#', class: 'btn btn-default', data: {dismiss: 'modal'} %>
  <button type="button" class="btn btn-success" onclick="markAttendance()">Save</button>
</div>