<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Change Teacher</h4>
</div>

<%= form_tag(change_teacher_myc_lesson_path, method: "post") do %>
<div class="modal-body">

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= label_tag(:teacher_id, "Teacher") %>
        <%= select_tag(:teacher_id, options_for_select(Teacher.teacher_id_and_name_by_studio(session[:current_studio_id]).collect.map {|t| [t.nric_name, t.id ] }), {class: 'form-control', required: "required" }) %>
        <br>
        <%= label_tag('', "Change") %>
        <div>
          <%= radio_button_tag(:change, "OneLesson", true, { id: 'one_lesson'}) %>
          <%= label_tag(:change, "One Lesson") %>
        </div>
        <div>
          <%= radio_button_tag(:change, "ManyLesson", false, { id: 'many_lessons'}) %>
          <%= label_tag(:change, "This and Following lessons") %>
        </div>
      </div>
    </div>


  </div>

</div>

<div class="modal-footer">
  <%= link_to 'Close', '#', class: 'btn btn-default', data: {dismiss: 'modal'} %>
  <%= submit_tag 'Save', class: 'btn btn-success' %>
</div>

<% end %>