<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Lesson Make Up</h4>
</div>

<%= form_tag(lesson_make_up_myc_lesson_path, method: "post", id: 'lessonMakeUpForm') do %>
<div class="modal-body">

    <div class="row" id="makeUpDateTimeRow">
      <div class="col-sm-12">
        <div class="form-group">
          <%= label_tag :make_up_date, "Make Up Date" %>
          <%= text_field_tag :make_up_date, nil, { class: "form-control datePicker", required: "required" } %>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <%= label_tag :make_up_time, "Make Up Time" %>
          <%= text_field_tag :make_up_time, nil, { class: "form-control timePicker", required: "required" } %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <%= label_tag :reason, "Reason" %>
          <%= text_field_tag :reason, nil, { class: "form-control", required: "required" } %>
        </div>
      </div>
    </div>

    <%= hidden_field_tag(:make_up_type, @make_up_type) %>
    <%= hidden_field_tag(:lesson_id, @lesson.id) %>
</div>


<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  <%= submit_tag 'Save', class: 'btn btn-success' %>
</div>
<% end %>