$('.unobtrusive-flash-container').empty() // remove previous message if exists

tableId = 'students-attendance-table';
selectAllCheckboxId = 'check-all';

$("#modal-content").html("<%= j render 'choose_students_to_mark_attendance' %>");
$("#modal").modal("show");


$(document).ready(function() {
  initCheckboxTableWithEnableFeatures(tableId, selectAllCheckboxId, false);
});

function isAttendanceMarkedForAllStudents(selectedRows){
  var result = true;
  selectedRows.every(function () {
    var data = this.data();
    if (data[2] == 'Null') {
      result = false;
    }
  });

  return result;
}

function markAttendance()
{
  $('#error-div').html('');
  var studentAttendanceTable = $('#' + tableId).DataTable();
  var selectedRows = studentAttendanceTable.rows();

  if (!isAttendanceMarkedForAllStudents(selectedRows))
  {
    $('#error-div').html('<%= t('mark_attendance_for_all_students') %>');
    $("#attendance_status option[value='']").prop('selected', true);
  }
  else
  {
    $("#mark_attendance_form").submit();
  }
}

function setAttendance(attendanceStatus){
  var studentAttendanceTable = $('#' + tableId).DataTable();
  var selectedRows = studentAttendanceTable.rows('.active');

  if (selectedRows.data().length == 0)
  {
    $('#error-div').html('<%= t('choose_students') %>');
  }
  else
  {
    var attendancesData = [];
    selectedRows.every( function () {
      var data = this.data();
      attendancesData.push({
        id: data[0], status: attendanceStatus
      });
      data[2] = attendanceStatus; // update data source for the row
      $('#' + tableId + ' tbody input[type="checkbox"]:checked').trigger('click');    //unselect all selected checkboxes
      this.invalidate(); // invalidate the data DataTables has cached for this row
    });

    $('#attendances_data').val(JSON.stringify(attendancesData));
  }
}
