$('.unobtrusive-flash-container').empty() // remove previous message if exists
<% if @lesson.errors.any? %>
  UnobtrusiveFlash.showFlashMessage('<%= @lesson.errors.full_messages[0] %>', {type: 'error', timeout: 0});
<% else %>
  $("#modal-content").html("<%= j render 'choose_teacher_to_change' %>")
  $("#modal").modal("show")
<% end %>

$('#operation-menu').dropdown("toggle");

$(document).ready(function() {
  $("#modal").on('shown.bs.modal', function () {
    var validator = $("#change_teacher_form").validate(setHighlight());
    validator.element("#teacher_id");
  });
})


