$('.unobtrusive-flash-container').empty() // remove previous message if exists
<% if @lesson.errors.any? %>
UnobtrusiveFlash.showFlashMessage('<%= @lesson.errors.full_messages[0] %>', {type: 'error', timeout: 0});
<% else %>
$("#modal-content").html("<%= j render 'set_data_for_lesson_make_up' %>")
$("#modal").modal("show")
<% end %>

function setDefaultForControls(){
  $('#makeUpDateTimeRow').show();
  $('#make_up_date').val(null);
  $('#make_up_time').val(null);
  $('#reason').val(null);

  validateControls();
}

function validateControls(){
  var validator = $("#lessonMakeUpForm").validate(setHighlight());
  validator.element("#make_up_date");
  validator.element('#make_up_time');
  validator.element('#reason');
}

function showOrHideControlsByMakeUpType(makeUpType){
  if (makeUpType == 'makeUpToSpecificDate')
  {
    $("#makeUpDateTimeRow").show();
  }
  else if (makeUpType == 'afterLastLesson')
  {
    $("#makeUpDateTimeRow").hide();
  }

  validateControls();
}

$(document).ready(function() {
  setDefaultForControls();
  showOrHideControlsByMakeUpType('<%= @make_up_type %>')
  $(function () {
    $('.datePicker').datetimepicker({
      format: 'DD/MM/YY',
      showTodayButton: true
    });
  });

  $(function () {
    $('.timePicker').datetimepicker({
      format: 'LT'
    });
  });

  $("#modal").on('shown.bs.modal', function () {
    validateControls();
  });
});


