<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Add Student</h4>
</div>

<%= form_tag(add_students_myc_myc_class_path, method: "post") do %>
<div class="modal-body">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#newStudentsTab">New Students</a></li>
    <li><a data-toggle="tab" href="#oldStudentsTab">Existing Students</a></li>
  </ul>

  <div class="tab-content">

    <div id="newStudentsTab" class="tab-pane fade in active">
      <table id="new-students-table" data-source="<%= new_students_data_myc_myc_classes_path(myc_class_id: @myc_class.id, format: :json) %>" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th><input type="checkbox" id="check-all" ></th>
          <th>Student Name</th>
          <th>Interested Program Name</th>
          <th>Student Status</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

    <div id="oldStudentsTab" class="tab-pane fade">
      <table id="old-students-table" data-source="<%= old_students_data_myc_myc_classes_path(myc_class_id: @myc_class.id, format: :json) %>" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th><input type="checkbox" id="check-all" ></th>
          <th>Student Name</th>
          <th>Latest Class</th>
          <th>Student Status</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

  </div>

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  <%= submit_tag 'Save', class: 'btn btn-success' %>
</div>
<% end %>