<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Remove Student</h4>
</div>

<%= form_tag(check_student_attendance_myc_myc_class_path, method: "post", remote: true) do %>
<div class="modal-body">

  <table id="in-class-students-table" data-source="<%= in_class_students_data_myc_myc_classes_path(myc_class_id: @myc_class.id, format: :json) %>" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th></th>
      <th>Student Name</th>
      <th>Student Status</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  <%= submit_tag 'Save', class: 'btn btn-success' %>
</div>
<% end %>