<%= javascript_tag do %>



    $(document).ready(function() {
        var validator = $("#form_id").validate(setHighlight());
        validator.element('#myc_class_start_date');
        validator.element('#myc_class_start_time');
        validator.element('#myc_class_myc_level_id');
        validator.element('#myc_class_teacher_id');


        $(function () {
            $('.datePicker').datetimepicker({
                format: 'DD/MM/YY',
                showTodayButton: true
            });
        });

      $(function () {
          $('.timePicker').datetimepicker({
              format: 'LT'
          });
      });
    });

<% end %>

<%= error_messages_for(@myc_class) %>

<div style="float: right; padding-top: 20px">
  <%= link_to "Cancel", {:action => :index}, :class => "btn btn-default" %>
  <%= f.submit 'Save', :class => 'btn btn-success' %>
</div>

<div class="clearfix"></div>

<hr/>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :start_date, "Start Date" %>
      <%= f.text_field :start_date, class: "form-control datePicker", required: "required" %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label(:myc_level_id, "Program") %>
      <%= f.select(:myc_level_id, options_for_select(MycProgram.active_program_and_level_order_by_display_order.collect.map {|p| [p.program_and_level_name, p.id ] }), {}, {class: 'form-control', required: "required" }) %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :start_time, "Start Time" %>
      <%= f.text_field :start_time, class: "form-control timePicker", required: "required" %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label(:teacher_id, "Teacher") %>
      <%= f.select(:teacher_id, options_for_select(Teacher.teacher_id_and_name_by_studio(session[:current_studio_id]).collect.map {|t| [t.nric_name, t.id ] }), {}, {class: 'form-control', required: "required" }) %>
    </div>
  </div>
</div>


