<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="exampleModalLabel">Confirmation</h4>
</div>
<%= form_tag(remove_student_myc_myc_class_path, method: "post") do %>
<div class="modal-body">
  <div id="error-div"></div>
  <%= t('confirm_remove_student') %>
  <%= hidden_field_tag(:student_id, @student_id) %>
  <%= hidden_field_tag(:class_student_status, '') %>
</div>
<div class="modal-footer">
  <%= link_to 'No', '#', class: 'btn btn-default', data: {dismiss: 'modal'} %>
  <%= submit_tag 'Yes', class: 'btn btn-success' %>
</div>
<% end %>