<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Remove Student</h4>
</div>

<div class="modal-body">

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= label_tag(:student_status, "Reason") %>
          <%= select_tag :student_status, options_for_select(MycClassStudent.status_for_remove_student_from_class.map { |s| [s[0].humanize, s[0]] }), class: "form-control" %>
        </div>
      </div>
    </div>

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  <button type="button" class="btn btn-success" onclick="terminateStudent()">Remove</button>
</div>


<script>
  function terminateStudent()
  {
    var status = $('#student_status').val();
    $("#modal-content").html("<%= j render 'remove_student_confirm' %>");
    $('#class_student_status').val(status);
    $("#modal").modal("show");
  }
</script>