$('.unobtrusive-flash-container').empty() // remove previous message if exists

<% if @marked_attendance %>
  $("#modal-content").html("<%= j render 'terminate_student' %>");
<% else %>
  $("#modal-content").html("<%= j render 'remove_student_confirm' %>");
<% end %>

$("#modal").modal("show");
