$('.unobtrusive-flash-container').empty() // remove previous message if exists

$("#modal-content").html("<%= j render 'choose_students_to_add' %>");
$("#modal").modal("show");

$(document).ready(function() {
  var tableId = 'new-students-table';
  var selectAllCheckboxId = 'check-all';
  initCheckBoxTableForStudent(tableId, selectAllCheckboxId);

  tableId = 'old-students-table';
  initCheckBoxTableForStudent(tableId, selectAllCheckboxId);
});

function initCheckBoxTableForStudent(tableId, selectAllCheckboxId) {
  // Initialize the table
  dataTable = $('#' + tableId).DataTable({

    processing: true,
    serverSide: true,
    ajax: {
      "url": $('#' + tableId).data('source'),
      "type": "POST"
    },
    pagingType: 'full_numbers',

    columnDefs: [
      {
        targets: 0,
        width: '3%',
        orderable: true, //gem datatables-ajax-rails => must be sortable for first column
        searchable: false,
        className: 'dt-body-center',
        render: function (data, type, full, meta) {
          return '<input type="checkbox" name="student_id[]" value="' + $('<div/>').text(data).html() + '">';
        }
      },
    ],
    select: {
      style: 'multi'
    },
    order: [[1, 'asc']],
    destroy: true

  });

  initCheckbox(tableId, dataTable, selectAllCheckboxId);
}

