$('.unobtrusive-flash-container').empty() // remove previous message if exists

$("#modal-content").html("<%= j render 'choose_student_to_remove' %>")
$("#modal").modal("show")

$(document).ready(function() {
  var tableId = 'in-class-students-table';
  initSingleSelectCheckboxTableForStudent(tableId);
});

function initSingleSelectCheckboxTableForStudent(tableId){
  dataTable = $('#' + tableId).DataTable({

    processing: true,
    serverSide: true,
    ajax: {
      "url": $('#' + tableId).data('source'),
      "type": "POST"
    },
    pagingType: 'full_numbers',

    columnDefs: [
      {
        targets: 0,
        width: '3%',
        orderable: true, //gem datatables-ajax-rails => must be sortable for first column
        searchable: false,
        className: 'dt-body-center',
        render: function (data, type, full, meta) {
          return '<input type="checkbox" name="student_id[]" value="' + $('<div/>').text(data).html() + '">';
        }
      },
    ],
    select: {
      style: 'multi'
    },
    order: [[1, 'asc']],
    destroy: true

  });

  $('#' + tableId + ' tbody').on('click', 'input[type="checkbox"]', function (e) {
    var checked = $(this).prop("checked");
    $('#'+ tableId  + ' tbody input[type="checkbox"]:checked').prop('checked', false);
    $(this).prop("checked", checked);
  });

  return dataTable;
}