$('.unobtrusive-flash-container').empty() // remove previous message if exists

<% if MycClass.statuses[@myc_class.status] != MycClass.statuses[:on_going] %>
  UnobtrusiveFlash.showFlashMessage('<%= t('cant_dissolve_class_because_status_is_not_on_going') %>', {type: 'error', timeout: 0});
<% else %>
  $("#modal-content").html("<%= j render 'dissolve_confirm' %>");
  $("#modal").modal("show");
<% end %>

