<script>

    var tableId = 'classes-table';

    $(document).ready(function() {
      $('#teacher-select').val('');
      $('#level-select').val('');
      $('#student-select').val('');
      $('#status-select').val('<%= MycClass.statuses[:on_going] %>');
        filterData();
    });

    function filterData()
    {
      var data = {
          teacher_id: $('#teacher-select').val(),
          myc_level_id: $('#level-select').val(),
          student_id: $('#student-select').val(),
          status: $('#status-select').val()
        };
      $('#' + tableId).DataTable().destroy();
      var dataTable = initTableWithDeferLoadingAndParameters(tableId, true, 1, 'asc', data);

      dataTable.draw();
    }

</script>

<% @breadcrumb = "Classes" %>

<div style="float: left; padding-top: 20px">
  <a href="#filter" class="btn btn-default" data-toggle="collapse">Filter</a>
</div>

<div style="float: right; padding-top: 20px">
  <%= link_to "New", {:action => :new},  :class => "btn btn-w-m btn-success" %>
</div>

<div class="clearfix"></div>

<div id="filter" class="collapse">
  <div class="row">

    <div class="col-sm-6">
      <div class="form-group">
        Teacher
        <select id="teacher-select" class="form-control">
          <option value=""></option>
          <% Teacher.teacher_id_and_name_by_studio(session[:current_studio_id]).each do |teacher| %>
              <option value=<%= teacher.id %>><%= teacher.nric_name %></option>
          <% end %>
        </select>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        Program
        <select id="level-select" class="form-control">
          <option value=""></option>
          <% MycProgram.active_program_and_level_order_by_display_order.each do |myc_level| %>
              <option value=<%= myc_level.id %> ><%= myc_level.program_and_level_name %></option>
          <% end %>
        </select>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-6">
      <div class="form-group">
        Student
        <select id="student-select" class="form-control">
          <option value=""></option>
          <% Student.active_student_id_and_name_by_studio(session[:current_studio_id]).each do |student| %>
              <option value=<%= student.id %>><%= student.nric_name %></option>
          <% end %>
        </select>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        Status
        <select id="status-select" class="form-control">
          <option value=""></option>
          <% MycClass.statuses.each do |status| %>
              <option value=<%= status[1] %> <%= 'selected=selected' if status[1] == MycClass.statuses[:on_going] %> ><%= status[0].humanize %></option>
          <% end %>
        </select>
      </div>
    </div>

  </div>

  <button id="btnFilter" class="btn btn-primary inline" onclick="filterData()">Search</button>

</div>

<hr>

<div>
  <table id="classes-table" data-source="<%= index_data_myc_myc_classes_path(format: :json) %>" class="table table-bordered">
    <thead>
      <tr>
        <th>Program</th>
        <th>Day</th>
        <th>Time</th>
        <th>Teacher</th>
        <th>Class Status</th>
        <th>Latest Conducted Lesson No</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>