<% @breadcrumb = link_to('Classes', {:action => 'index'}) + " / " + "<b>New</b>".html_safe %>

<%= form_for @myc_class, url: {:action => 'create'}, :html => {:id => 'form_id'} do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

<% end %>
