<style>
  .dataTables_wrapper {
    padding-bottom: 0px; !important
  }
</style>

<script>

  $(document).ready(function() {
    // remove previous message if exists
    $('.unobtrusive-flash-container').empty();

    bindStudentsData();
    bindLessonsData();
    enableOrDisableButtonsByStatus();
  });

  function enableOrDisableButtonsByStatus()
  {
    <% if MycClass.statuses[@myc_class.status] == MycClass.statuses[:dissolved] || MycClass.statuses[@myc_class.status] == MycClass.statuses[:finished] %>
      $('#go-to-next-level').attr('disabled', true);
      $('#dissolve').attr('disabled', true);
      $('#add-student').attr('disabled', true);
      $('#remove-student').attr('disabled', true);
      $('.dropdown-toggle').attr('disabled', true);

      $('#go-to-next-level').bind('click', false);
      $('#dissolve').bind('click', false);
      $('#add-student').bind('click', false);
      $('#remove-student').bind('click', false);

      <% if MycClass.statuses[@myc_class.status] == MycClass.statuses[:finished] %>
        $('#undo-dissolve').attr('disabled', true);
        $('#undo-dissolve').bind('click', false);
        $('.dropdown-toggle').attr('disabled', false);
      <% end %>

    <% else %>
      $('#undo-dissolve').attr('disabled', true);
      $('#undo-dissolve').bind('click', false);
    <% end %>
  }

  function bindStudentsData(){
    var studentsData = [];
    var columnNames = [ { title: "Student Name", width: "350" }];
    var tableWidth = 350;


    <% if @students.length > 0 %>
      <% @students.each do |student| %>
        columnNames.push({ title: "<%= student.nric_name %>", width: "150"});
        tableWidth += 150;
      <% end %>
    <% end %>

    columnNames.push({ title: " ", width: "150"});
    columnNames.push({ title: " ", width: "200"});
    tableWidth += 350;
    $('#student-table').css('width', tableWidth);
    $('#lessons-table').css('width', tableWidth);

    for (i = 0; i < 4; i++)
    {
      var rowData = [];
      if (i == 0)
      {
        rowData.push("Date of Birth");
      }
      else if (i == 1)
      {
        rowData.push("Caretaker's name");
      }
      else if (i == 2)
      {
        rowData.push("Contact No");
      }
      else if (i == 3)
      {
        rowData.push("Status")
      }


      <% @students.each do |student| %>
      if (i == 0)
      {
        rowData.push('<%= student.date_of_birth %>');
      }
      else if (i == 1)
      {
        rowData.push('<%= student.family.primary_contact_name %>');
      }
      else if (i == 2)
      {
        rowData.push('<%= student.family.primary_contact_phone_no %>');
      }
      else if (i == 3)
      {
        rowData.push('<%= student.myc_class_students.where(myc_class_id: @myc_class.id).first.status.humanize %>')
      }

      <% end %>

      rowData.push(" "); //for teacher column of lesson table
      rowData.push(" "); //for remark column of lesson table

      studentsData.push(rowData);
    }
    setCustomDataTable('student-table', columnNames, studentsData);
  }

  //bind the lessons with attendance data to datatable
  function bindLessonsData(){
    var columnNames = [
      { title: "Action", width: "45" },
      { title: "L #", width: "30" },
      { title: "Date", width: "190" },
      { title: "Teacher Name", width: "150" },
      { title: "Remarks", width: "200" }
    ];
    var rowData = [];
    var lessonsData = [];
    var attendanceDataIndex = 3;

    <% if @students.length > 0 %>
      <% @students.each do |student| %>
        columnNames.splice(attendanceDataIndex, 0, { title: ' ', width: "190"});
        attendanceDataIndex += 1;
      <% end %>
    <% end %>

    var lessonId = 0;
    attendanceDataIndex = 3;
    <% @lessons.each do |lesson| %>
      //for the cancelled lesson
      <% if (lesson.lesson_no == 0) %>

        rowData.push(' '); //at the place of operation menu
        rowData.push(' '); //at the place of lesson no
        rowData.push('<%= lesson.start_at.strftime("%d/%m/%y") %>');
        rowData.push('<%= lesson.user_name %>');
        rowData.push('<%= lesson.reason_for_cancel %>');
        <% if @students.length > 0 %>
          <% @students.each do |student| %>
            rowData.splice(attendanceDataIndex, 0, '-')
            attendanceDataIndex += 1;
          <% end %>
        <% end %>
        lessonsData.push(rowData);
        attendanceDataIndex = 3;
        rowData = [];
      <% else %>
        var attendanceStatus = '';

        //convert the Null attendance status to "-"
        <% if (lesson.attendance_status == Attendance.statuses[:null]) %>
        attendanceStatus = '-';
        <% elsif !lesson.attendance_status.blank? %>
        attendanceStatus = '<%= Attendance.statuses.keys[lesson.attendance_status].humanize %>';
        <% end %>

        if ('<%= lesson.id %>' == lessonId)
        {
          rowData.splice(attendanceDataIndex, 0, attendanceStatus)
          attendanceDataIndex += 1;
        }
        else
        {
          if (rowData.length > 0)
          {
            lessonsData.push(rowData);
            rowData = [];
          }

          attendanceDataIndex = 0;
          rowData.push(setOperationMenu('<%= lesson.id %>'));
          rowData.push('<%= lesson.lesson_no %>');

          rowData.push('<%= lesson.start_at.strftime("%d/%m/%y") %>');
          if (attendanceStatus){
            rowData.push(attendanceStatus);
            attendanceDataIndex = 4;
          }
          rowData.push('<%= lesson.user_name %>');
          rowData.push('<%= lesson.reason_for_cancel %>');
        }

        lessonId = '<%= lesson.id %>';
      <% end %>
    <% end %>  <!-- end of lesson loop -->
    lessonsData.push(rowData);

    setCustomDataTable('lessons-table', columnNames, lessonsData);
  }

  function setOperationMenu(lessonId)
  {
    return '<div id="operation-menu" class="dropdown">' +
        '<button id="btn-action" class="dropdown-toggle" type="button" data-toggle="dropdown">' +
        '<span class="caret"></span></button>' +
        '<ul class="dropdown-menu" style="left: 0; right: auto">' +
        '<li><a href="/myc/lessons/' + lessonId + '/choose_students_to_mark_attendance" data-remote=true>Mark Attendance</a></li>' +
        '<li><a href="/myc/lessons/' + lessonId + '/unmark_attendance_confirm" data-remote=true>Unmark Attendance</a></li>' +
        '<li class="divider"></li>' +
        '<li><a href="/myc/lessons/' + lessonId + '/set_data_for_lesson_make_up/makeUpToSpecificDate" data-remote=true>Make up to specific date</a></li>' +
        '<li><a href="/myc/lessons/' + lessonId + '/set_data_for_lesson_make_up/afterLastLesson" data-remote=true>No lesson for this week</a></li>' +
        '<li class="divider"></li>' +
        '<li><a href="/myc/lessons/' + lessonId + '/choose_teacher_to_change" data-remote=true>Change Teacher</a></li>' +
        '</ul>' +
        '</div>';
  }

  function setCustomDataTable(tableId, columnNames, rowsData)
  {
    $('#' + tableId).DataTable({
      data: rowsData,
      columns: columnNames,
      autoWidth: false,
      responsive: false,
      ordering:   false,
      paging:   false,
      info:   false,
      bFilter: false
    });
  }

</script>

<% @breadcrumb = link_to('Classes', {:action => 'index'}) + " / " + "<b>Lessons</b>".html_safe %>
<div class="clearfix"></div><br/>

<div>
  <div style="float:right; margin-left: 4px;">
    <a class="btn btn-outline btn-default" href="javascript:redirectToCreatePageForNewLevel()"
       id="go-to-next-level">
      Create Class For Next Level
    </a>
  </div>
  <div style="float:right; margin-left: 4px;">
    <a id="undo-dissolve" class="btn btn-outline btn-default" href="/myc/myc_classes/<%= @myc_class.id %>/undo_dissolve_confirm" data-remote="true">
      Undo Dissolve
    </a>
  </div>
  <div style="float:right;">
    <a id="dissolve" class="btn btn-outline btn-default" href="/myc/myc_classes/<%= @myc_class.id %>/dissolve_confirm" data-remote="true">
      Dissolve
    </a>
  </div>
</div>

<div class="clearfix"></div>
<hr/>

<!-- class information -->
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="start_date">Start Date</label>
      <input type="text" name="start_date" id="start_date" class="form-control" readonly value="<%= @myc_class.start_at.strftime("%d/%m/%y") %>"/>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="myc_program">Program</label>
      <input type="text" name="myc_program" id="myc_program" class="form-control" readonly value="<%= @myc_class.myc_program.program_name + ' ' + @myc_class.myc_level.level_name %>"/>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="start_time">Start Time</label>
      <input type="text" name="start_time" id="start_time" class="form-control" readonly value="<%= @myc_class.start_at.strftime("%I:%M %p") %>"/>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group">
      <label for="status">Class Status</label>
      <input type="text" name="status" id="status" class="form-control" readonly value="<%= @myc_class.status.humanize %>"/>
    </div>
  </div>
</div>

<input type="hidden" id="myc_class_id" value="<%= @myc_class.id %>"/>

<hr/>

<div>

  <a id="add-student" class="btn btn-outline btn-default" href="/myc/myc_classes/<%= @myc_class.id %>/choose_students_to_add" data-remote="true">
    Add Student
  </a>

  <a id="remove-student" class="btn btn-outline btn-default" href="/myc/myc_classes/<%= @myc_class.id %>/choose_student_to_remove" data-remote="true">
    Remove Student
  </a>
</div>

<br/>

<div class="row">
  <div class="col-sm-12">
    <div style="overflow-x: scroll; height: auto;">
      <table id="student-table" class="table table-bordered"></table>

      <table id="lessons-table" class="table table-bordered"></table>
    </div>
  </div>
</div>



<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document" display="table">
    <div id="modal-content" class="modal-content">
    </div>
  </div>
</div>