$('.unobtrusive-flash-container').empty() // remove previous message if exists

<% if MycClass.statuses[@myc_class.status] != MycClass.statuses[:dissolved] %>
UnobtrusiveFlash.showFlashMessage('<%= t('cant_undo_dissolve') %>', {type: 'error', timeout: 0});
<% else %>
$("#modal-content").html("<%= j render 'undo_dissolve_confirm' %>")
$("#modal").modal("show")
<% end %>