<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="exampleModalLabel">Edit</h4>
</div>

<%= form_for @teacher_commission_other, url: "/myc/teacher_commission_others/#{@teacher_commission_other.id}", :html => {:id => 'form_other'}, remote: true do |f| %>
    <%= render(partial: 'form', :locals => {:f => f}) %>
<% end %>
