<div class="modal-body">
  <div id="error-div"></div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :item, 'Item' %>
        <%= f.text_field :item, class: 'form-control', required: 'true' %>
      </div>
      <div class="form-group">
        <%= f.label :amount, 'Amount' %>
        <%= f.text_field :amount, class: 'form-control', required: 'true' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :remarks, 'Remarks' %>
        <%= f.text_field :remarks, class: 'form-control' %>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <%= link_to 'Cancel', '#', class: 'btn btn-default', data: {dismiss: 'modal'} %>
  <%= f.submit 'Save', class: 'btn btn-success' %>
</div>