<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="exampleModalLabel">New</h4>
</div>

<%= form_for [@teacher_commission_id, @teacher_commission_other], url: "/myc/teacher_commissions/#{@teacher_commission_id}/teacher_commission_others/", :html => {:id => 'form_other'}, remote: true do |f| %>
    <%= render(partial: 'form', :locals => {:f => f}) %>
<% end %>
