$('.unobtrusive-flash-container').empty() // remove previous message if exists
<% if @teacher_commission_other.errors.any? %>
    $('#error-div').html('<%= j(render :partial => 'shared/error_messages', :locals => {:object => @teacher_commission_other}) %>');
<% else %>
    $("#modal").modal("hide")
    $('#net_pay').val('<%= @net_pay %>');
    $('#table-other').DataTable().ajax.reload()
<% end %>