<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="exampleModalLabel">Confirmation</h4>
</div>
<%= form_for @user, url: {:action => 'update'}, remote: true do |f| %>
    <div class="modal-body">
      <div id="error-div"></div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :status, 'New Status' %>
            <%= f.select :status, options_for_select(User.statuses.map { |s| [s[0].humanize, s[0]] }, selected: @user.status), {} , class: "form-control" %>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= link_to 'Cancel', '#', class: 'btn btn-default', data: {dismiss: 'modal'} %>
      <%= f.submit 'Save', class: 'btn btn-success' %>
    </div>
<% end %>