<%= javascript_tag do %>

    $(document).ready(function() {
    var validator = $("#form_id").validate(setHighlight());
    validator.element('#user_nric_name');
    validator.element('#user_email');
    validator.element('#user_phone_number');
    });

<% end %>

<%= error_messages_for(@user) %>

<div style="float: right; padding-top: 20px">
  <%= link_to "Cancel", '/hq/users/', :class => "btn btn-default" %>
  <%= f.submit 'Save', :class => 'btn btn-success' %>
</div>

<div class="clearfix"></div>

<div>
  <hr>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :nric_name, "NRIC Name" %>
      <%= f.text_field :nric_name, class: "form-control", required: "required" %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :email, "Email" %>
      <%= f.text_field :email, class: "form-control", required: "required" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :phone_number, "Phone Number" %>
      <%= f.text_field :phone_number, class: "form-control", required: "required" %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :status, "Status" %>
      <%= f.select :status, options_for_select(User.statuses.map { |s| [s[0].humanize, s[0]] }, selected: @user.status), {} , class: "form-control" %>
    </div>
  </div>
</div>