<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="exampleModalLabel">Confirmation</h4>
</div>
<div class="modal-body">
  <div id="error-div"></div>
  Invite by email ?
</div>
<div class="modal-footer">
  <%= link_to 'No', '#', class: 'btn btn-default', data: {dismiss: 'modal'} %>
  <%= link_to 'Yes', "/hq/users/#{@user.id}/invite", remote: true, method: :patch, class: 'btn btn-success' %>
</div>
