<% @breadcrumb = link_to('Users', '/hq/users/') + " / " + "<b>Edit</b>".html_safe %>

<%= form_for @user, url: {:action => 'update', :id => @user.id}, :html => {:id => 'form_id'} do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

<% end %>