<%= javascript_tag do %>

    var tableId = 'table';

    $(document).ready(function() {
      initTableWithDeferLoading(tableId, true, 1, 'asc');
      filterData();
    });

    function filterData()
    {
      var statusId = $('#status-select').val();
      var dataTable = $('#' + tableId).DataTable();
      dataTable.columns('4:visIdx').search(statusId).draw();
    }
<% end %>

<% @breadcrumb = "Users" %>

<div style="float: left; padding-top: 20px">
  <a href="#filter" class="btn btn-default" data-toggle="collapse">Filter</a>
</div>

<div style="float: right; padding-top: 20px">
  <a href="/hq/users/new" , class="btn btn-success">New</a>
</div>

<div class="clearfix"></div>

<hr>

<div id="filter" class="collapse">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        Status
        <select id="status-select" class="form-control">
          <option value=""></option>
          <% User.statuses.each do |status| %>
              <option value=<%= status[1] %> <%= 'selected=selected' if status[1] == User.statuses[:active] %> ><%= status[0].humanize %></option>
          <% end %>
        </select>
      </div>
    </div>
  </div>
  <button id="btnFilter" class="btn btn-primary inline" onclick="filterData()">Search</button>
  <hr>
</div>

<div>
  <table id="table" data-source="<%= index_data_hq_users_path(format: :json) %>" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Action</th>
      <th>NRIC Name</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Role</th>
      <th>Status</th>
      <th>Studios</th>
      <th>Invitation Sent At</th>
      <th>Failed Attempts</th>
      <th>Locked At</th>
      <th>Sign In Count</th>
      <th>Current Sign In At</th>
      <th>Current Sign In IP</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>


<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document" display="table">
    <div id="modal-content" class="modal-content">
    </div>
  </div>
</div>



