$('.unobtrusive-flash-container').empty() // remove previous message if exists
<% if @user.errors.any? %>
$('#error-div').html('<%= j(render :partial => 'shared/error_messages', :locals => {:object => @user}) %>');
<% else %>
$("#modal").modal("hide")
$('#table').DataTable().ajax.reload()
<% end %>