//var tableId = 'studios-table';
//var studioId;
//var userId = 1;
//
//$(document).ready(function () {
////  alert(<%= @user_id %>);
//  initTable(tableId, false);
//
//  $(function () {
//    $('#addStudio').click(function () {
//      $('#addStudioModal').modal('show');
//    });
//
//    $('#saveStudio').click(function () {
//      $('#addStudioModal').modal('hide');
//      $.ajax({
//        url: '/hq/users/' + userId + '/studio_users/',
//        type: 'CREATE',
//        data: {'user_id': userId, 'studio_id': $("#studio-select").val(), 'role_id': $("#role-select").val()},
//        success: function (response) {
//          showAjaxSuccessMessage(response);
//          dataTable.ajax.reload();
//        },
//        error: function (xhr) {
//          showAjaxErrorMessage(xhr);
//        }
//      })
//    });
//
//    $('a[data-delete-id]').click(function () {
//      var modal = $('#confirmationModal');
//      modal.modal('show');
//      modal.find('.modal-title').text('Delete');
//      modal.find('.modal-body').text('Delete ?');
//      studioId = $(this).data('delete-id');
//    });
//
//    $('#btnYes').click(function () {
//      $('#confirmationModal').modal('hide');
//      $.ajax({
//        url: '/hq/users/' + userId + '/studio_users/' + studioId,
//        type: 'DELETE',
//        data: {'id': studioId}
//      })
//    });
//
//
//  });
//});
//
//function showAjaxSuccessMessage(response) {
//  UnobtrusiveFlash.showFlashMessage(response.message, {type: 'success', timeout: 0});
//  dataTable.ajax.reload();
//}
//
//function showAjaxErrorMessage(xhr) {
//  var jsonResponse = $.parseJSON(xhr.responseText);
//  UnobtrusiveFlash.showFlashMessage(jsonResponse.message, {type: 'error', timeout: 0});
//
//  for (var i = 0; i < jsonResponse.errors.length; i++) {
//    UnobtrusiveFlash.showFlashMessage(jsonResponse.errors[i], {type: 'error', timeout: 0});
//  }
//}
//
//
//
//
//
