<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="exampleModalLabel">Edit</h4>
</div>

<%= form_for [@teacher_commission_item_additional], url: "/myc/teacher_commission_item_additionals/#{@teacher_commission_item_additional.id}", html: {id: 'form_item_additional'}, remote: true do |f| %>
    <%= render(partial: 'form', :locals => {:f => f}) %>
<% end %>
