$('.unobtrusive-flash-container').empty() // remove previous message if exists
<% if @teacher_commission_item_additional.errors.any? %>
$('#error-div').html('<%= j render partial: 'shared/error_messages', locals: {object: @teacher_commission_item_additional} %>');
<% else %>
$("#modal").modal("hide")
$('#net_pay').val('<%= @net_pay %>');
$('#table-item-additional').DataTable().ajax.reload()
<% end %>