    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Student</h4>
    </div>

    <%= form_tag("", method: "post", remote: true, id: 'choose_student_form') do %>
      <div class="modal-body">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#newStudent">New Student</a></li>
          <li><a data-toggle="tab" href="#existingStudent">Existing Student</a></li>
        </ul>
        <div class="tab-content">

          <div id="newStudent" class="tab-pane fade in active">
            <table id="invoice-new-students-table" data-source="<%= invoice_new_student_data_myc_invoices_path(format: :json) %>" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th></th>
                <th>Student Name</th>
                <th>Interested Program</th>
              </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>

          <div id="existingStudent" class="tab-pane fade">
            <div class="row">
            <div class="col-md-6">
            <div class="form-group">
            <%= label_tag(:teacher_id, "Teacher") %>
            <%= select_tag(:teacher_id, options_for_select(['']+Teacher.teacher_id_and_name_by_studio(session[:current_studio_id]).collect.map {|t| [t.nric_name, t.id ] }), {class: 'form-control', required: "true" }) %>
            </div>
            <button id="btnFilter" class="btn btn-primary inline" onclick="filterData()">Search</button>
            </div>
            </div>

            <br>
            <table id="invoice-existing-students-table" data-source="<%= invoice_existing_student_data_myc_invoices_path(format: :json) %>" class="table table-bordered table-striped">
            <thead>
            <tr>
            <th></th>
            <th>Student Name</th>
            <th>Program</th>
            <th>Status</th>
            <th>teacher_id</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
            </table>
          </div>
        </div>

      </div>

    <% end %>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-success" onclick="addStudent()">Save</button>
    </div>

