<script>
  $(document).ready(function() {

    validateFormRequired();
    $(function () {
      $('.datePicker').datetimepicker({
        format: 'DD/MM/YY',
        showTodayButton: true
      });
    });

    $('#fee-type li').click(function () {
    feeType = $(this).text();
    });

  });

  function validateFormRequired()
  {
    var validator = $("#invoices_form").validate(setHighlight());
    validator.element('#invoice_student_id');
    validator.element('#invoice_invoice_number');
    validator.element('#invoice_invoice_on');
    validator.element('#invoice_due_on');
  }
</script>
<%= error_messages_for(@invoice) %>

<div style="float: right; padding-top: 20px">
  <%= link_to "Cancel", {:action => :index}, :class => "btn btn-w-m btn-default" %>
  <%= f.submit 'Save', :class => 'btn btn-w-m btn-success' %>
</div>

<div class="clearfix"></div>

<div>
  <hr>
</div>


<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= label_tag :student_name, "Student" %>
      <%= text_field_tag :student_name, @student_name, { class: "form-control", required: "required" , readonly: "true"} %>
    </div>
  </div>
  <div class="col-md-6">
    <br>
    <a style="" href="/myc/invoices/choose_student" data-remote="true">
      Add Student
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= label_tag :program_name, "Program Name" %>
      <%= text_field_tag :program_name, @program_name, { class: "form-control", readonly: "true"} %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :invoice_number, "Invoice Number" %>
      <%= f.text_field :invoice_number, class: "form-control", required: "required" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :teacher_name, "Teacher Name" %>
      <%= f.text_field :teacher_name, class: "form-control", readonly: "true"%>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :invoice_on, "Invoice Date" %>
      <%= f.text_field :invoice_on,  class: "form-control datePicker", required: "required" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :day, "Day" %>
          <%= f.text_field :day, class: "form-control", readonly: "true"%>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :time, "Time" %>
          <%= f.text_field :time, class: "form-control", readonly: "true"%>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :due_on, "Due Date" %>
      <%= f.text_field :due_on,  class: "form-control datePicker", required: "required" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :status, "Status" %>
      <%= f.text_field :status, class: "form-control", readonly: "true"%>
    </div>
  </div>
</div>

<%= f.hidden_field(:student_id) %>
<%= f.hidden_field(:myc_level_id) %>

<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document" display="table">
    <div id="modal-content" class="modal-content">
    </div>
  </div>
</div>