<hr>
<h2> Invoice Item </h2>



<div class="row">
  <div class="col-md-6">
    <div class='dropdown'>
      <button id='btn-action' type='button' class='btn btn-w-m btn-default' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
        Add<span class='caret'></span>
      </button>
      <ul class='dropdown-menu' role='menu' aria-labelledby='dLabel' id="fee-type">
        <li><a href="<%= "/myc/invoices/#{@invoice.id}/fee_item/program" %>" data-remote='true'>Program</a></li>
        <li role='separator' class='divider'></li>
        <li><a href="<%= "/myc/invoices/#{@invoice.id}/fee_item/discount" %>" data-remote='true'>Discount</a></li>
        <li role='separator' class='divider'></li>
        <li><a href="<%= "/myc/invoices/#{@invoice.id}/fee_item/lesson" %>" data-remote='true'>Lesson</a></li>
        <li role='separator' class='divider'></li>
        <li><a href="<%= "/myc/invoices/#{@invoice.id}/fee_item/material" %>" data-remote='true'>Material</a></li>
        <li role='separator' class='divider'></li>
        <li><a href="<%= "/myc/invoices/#{@invoice.id}/fee_item/other" %>" data-remote='true'>Other</a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6">
        <div style="float: right;"><b>Total Price</b></div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= text_field_tag :total_price, @total_price, { class: "form-control", required: "required" , readonly: "true"} %>
        </div>
      </div>
    </div>
  </div>
</div>


<br>
<table id="invoice-item-table" data-source="<%= "/myc/invoices/#{@invoice.id}/invoice_items/index_data.json" %>" class="table table-bordered table-striped">
  <thead>
  <tr>
    <th></th>
    <th>Item Name</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Amount</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>