<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Material</h4>
</div>

<%= form_tag(add_material_fee_item_myc_invoice_path,  method: "post", remote: true, id: 'fee_item_form') do %>
    <div class="modal-body">
      <div id="error-div"></div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= label_tag(:myc_level_id, "Program") %>
            <%= select_tag(:myc_level_id, options_for_select(MycProgram.active_program_and_level_order_by_display_order.collect.map {|p| [p.program_and_level_name, p.id ] }),{class: 'form-control'}) %>
          </div>
        </div>
      </div>

      <br>

      <table id="table" data-source='<%= material_data_myc_invoices_path %>' class="table table-bordered table-striped">
        <thead>
        <tr>
          <th></th>
          <th>Fee Item</th>
          <th>Price</th>
          <th>Program Name</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-2">
            <div class="form-group">
              <%= label_tag :quantity, "Quantity" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= text_field_tag :quantity, nil, { class: "form-control", required: "required" } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <%= submit_tag 'Save', class: 'btn btn-success' %>
    </div>
    <% end %>