<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Other</h4>
</div>

<%= form_tag(add_other_fee_item_myc_invoice_path,  method: "post", remote: true, id: 'fee_item_form') do %>
    <div class="modal-body">
      <div id="error-div"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6">
            <div class="form-group">
              <%= label_tag :fee_item_name, "Fee Item Name" %>
              <%= text_field_tag :fee_item_name, nil, { class: "form-control", required: "required" } %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= label_tag :price, "Price" %>
              <%= text_field_tag :price, nil, { class: "form-control", required: "required" } %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6">
            <div class="form-group">
              <%= label_tag :quantity, "Quantity" %>
              <%= text_field_tag :quantity, nil, { class: "form-control", required: "required" } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <%= submit_tag 'Save', class: 'btn btn-success' %>
    </div>
<% end %>