<script>
  $(document).ready(function() {
    $('#quantity').val(1);
    var validator = $('#fee_item_form').validate(setHighlight());
    validator.element('#quantity');

    tableId = 'fee-item-table';
    initSingleSelectCheckboxTableWithUnEnableFeatures(tableId)

  });

  function initSingleSelectCheckboxTableWithUnEnableFeatures(tableId) {
    dataTable = $('#' + tableId).DataTable({
      processing: true,
      serverSide: true,
      ajax: {
        "url": $('#' + tableId).data('source'),
        "type": "POST",
      },
      pagingType: 'full_numbers',
      ordering: false,
      paging: false,
      info: false,
      bFilter: false,
      columnDefs: [
        {
          targets: 0,
          width: '3%',
          orderable: true, //gem datatables-ajax-rails => must be sortable for first column
          searchable: false,
          className: 'dt-body-center',
          render: function (data, type, full, meta) {
            return '<input type="checkbox" name="fee_item_id[]" value="' + $('<div/>').text(data).html() + '">';
          }
        }
      ],
      select: {
        style: 'multi'
      },
      order: [[1, 'asc']],
      destroy: true

    });

    $('#' + tableId + ' tbody').on('click', 'input[type="checkbox"]', function (e) {
      var checked = $(this).prop("checked");
      $('#'+ tableId  + ' tbody input[type="checkbox"]:checked').prop('checked', false);
      $(this).prop("checked", checked);
    });

    return dataTable;
  }
</script>

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title"><%= @modal_title %></h4>
</div>

<%= form_tag(@submit_link_to,  method: "post", remote: true, id: 'fee_item_form') do %>
    <div class="modal-body">
      <div id="error-div"></div>
      <table id="fee-item-table" data-source='<%=	 @fee_item_data_source %>' class="table table-bordered table-striped">
        <thead>
        <tr>
          <th></th>
          <th>Fee Item</th>
          <th>Price</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-2">
            <div class="form-group">
              <%= label_tag :quantity, "Quantity" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= text_field_tag :quantity, nil, { class: "form-control", required: "required" } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <%= submit_tag 'Save', class: 'btn btn-success' %>
    </div>
<% end %>


