$('.unobtrusive-flash-container').empty() // remove previous message if exists
<% if @invoice_item.errors.any? %>
$('#error-div').html('<%= j(render :partial => 'shared/error_messages', :locals => {:object => @invoice_item}) %>');
<% else %>
$('.unobtrusive-flash-container').empty() // remove previous message if exists
$("#modal").modal("hide")

$('#total_price').val('<%= @total_price %>');
var dataTable = $('#invoice-item-table').DataTable();
dataTable.draw();
<% end %>