$('.unobtrusive-flash-container').empty() // remove previous message if exists
$("#modal").modal("hide")

$('#invoice_student_id').val('<%= @invoice.student_id %>');
$('#invoice_myc_level_id').val('<%= @invoice.myc_level_id %>');
$('#student_name').val('<%= @student_name %>');
$('#program_name').val('<%= @program_name %>');
$('#invoice_teacher_name').val('<%= @invoice.teacher_name%>');
$('#invoice_day').val('<%= @invoice.day%>');
$('#invoice_time').val('<%= @invoice.time%>');