$("#modal-content").html("<%= j render 'choose_student' %>");
$("#modal").modal("show");

$(document).ready(function() {
  tableId = 'invoice-existing-students-table';
  initCheckboxTableWithHiddenColumn(tableId);
  initSingleSelectCheckboxTable('invoice-new-students-table');
  active_nav_tab_text = 'Not In Class Student';

  $('.nav-tabs a').on('shown.bs.tab', function(event){
    active_nav_tab_text = $(event.target).text();         // active tab
  });
});

function filterData()
{
  var teacherId = $('#teacher_id').val();
  var dataTable = $('#' + tableId).DataTable();
  dataTable.columns('1:visIdx').search(teacherId).draw();
}

function initCheckboxTableWithHiddenColumn(tableId) {
  dataTable = $('#' + tableId).DataTable({
    processing: true,
    serverSide: true,
    ajax: {
      "url": $('#' + tableId).data('source'),
      "type": "POST"
    },
    pagingType: 'full_numbers',

    columnDefs: [
      {
        targets: 0,
        width: '3%',
        orderable: true, //gem datatables-ajax-rails => must be sortable for first column
        searchable: false,
        className: 'dt-body-center',
        render: function (data, type, full, meta) {
          return '<input type="checkbox" name="myc_class_student_id[]" value="' + $('<div/>').text(data).html() + '">';
        }
      },
      {
        targets: 4,
        visible: false
      }
    ],
    select: {
      style: 'multi'
    },
    order: [[1, 'asc']],
    destroy: true

  });

  $('#' + tableId + ' tbody').on('click', 'input[type="checkbox"]', function (e) {
    var checked = $(this).prop("checked");
    $('#'+ tableId  + ' tbody input[type="checkbox"]:checked').prop('checked', false);
    $(this).prop("checked", checked);
  });

  return dataTable;
}

function addStudent()
{
  if( active_nav_tab_text == 'Existing Student' )
  {
      $("#choose_student_form").attr('action', '/myc/invoices/add_existing_student').submit();
  }
  else
  {
      $("#choose_student_form").attr('action', '/myc/invoices/add_new_student').submit();
  }

}


