<script>
  $(document).ready(function() {
    tableId = 'invoice-item-table';
    initTable(tableId, false, 0, 'asc');
  });
</script>

<% @breadcrumb = link_to('Invoices', {:action => 'index'}) + " / " + "<b>Edit</b>".html_safe %>

<%= form_for @invoice, url: {:action => 'update', :id => @invoice.id}, :html => {:id => 'invoices_form'} do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>
    <%= render(:partial => "invoice_item" , :locals => {:f => f}) %>

<% end %>