<%= javascript_tag do %>

    var tableId = 'invoices_table';
    var dataTable;

    $(document).ready(function() {
    initTableWithDeferLoading(tableId, true, 0, 'asc');
    filterData();
    });

    function filterData()
    {
    var statusId = $('#status-select').val();
    var dataTable = $('#' + tableId).DataTable();
    dataTable.columns('0:visIdx').search(statusId).draw();
    }


<% end %>

<% @breadcrumb = "Invoices" %>
<div style="float: left; padding-top: 20px">
  <a href="#filter" class="btn btn-default" data-toggle="collapse">Filter</a>
</div>

<div style="float: right; padding-top: 20px">
  <%= link_to "New", {:action => :new}, :class => "btn btn-w-m btn-success" %>
</div>


<div class="clearfix"></div>

<hr>

<div id="filter" class="collapse">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        Status
        <select id="status-select" class="form-control">
          <option value=""></option>
          <% Invoice.statuses.each do |status| %>
              <option value=<%= status[1] %>  ><%= status[0].humanize %></option>
          <% end %>
        </select>
      </div>
    </div>
  </div>
  <button id="btnFilter" class="btn btn-primary inline" onclick="filterData()">Search</button>
  <hr>
</div>

<div>
  <table id="invoices_table", data-source="<%= index_data_myc_invoices_path(format: :json) %>", class="table table-bordered">
    <thead>
    <tr>
      <th>Invoice #</th>
      <th>Invoice Date</th>
      <th>Due Date</th>
      <th>Student Name</th>
      <th>Total Price</th>
      <th>Balance Due</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

