$("#modal-content").html("<%= j render 'material' %>");
$("#modal").modal("show");

$(document).ready(function() {

  $('#myc_level_id').val('<%= @myc_level_id %>');
  $('#quantity').val(1);
  var validator = $('#fee_item_form').validate(setHighlight());
  validator.element('#quantity');

  tableId = 'table';
  initCheckboxTableWithHiddenColumn(tableId);
  filterData();

  $('#myc_level_id').change(function(){
    filterData();
  });

});

function filterData()
{
  var myc_level_id = $('#myc_level_id').val();
  var dataTable = $('#' + tableId).DataTable();
  dataTable.columns(3).search(myc_level_id);
  dataTable.draw();
}

    function initCheckboxTableWithHiddenColumn(tableId) {
      dataTable = $('#' + tableId).DataTable({
        processing: true,
        serverSide: true,
        deferLoading: true,
        ajax: {
          "url": $('#' + tableId).data('source'),
          "type": "POST"
        },
        pagingType: 'full_numbers',
        columnDefs: [
          {
            targets: 0,
            width: '3%',
            orderable: true, //gem datatables-ajax-rails => must be sortable for first column
            searchable: false,
            className: 'dt-body-center',
            render: function (data, type, full, meta) {
              return '<input type="checkbox" name="product_code_id[]" value="' + $('<div/>').text(data).html() + '">';
            }
          },
          {
              targets: 3,
              visible: false,
              bRegex: true,
              bSmart: false
          }
        ],
        select: {
          style: 'multi'
        },
        order: [[1, 'asc']],
        destroy: true

      });

      $('#' + tableId + ' tbody').on('click', 'input[type="checkbox"]', function (e) {
        var checked = $(this).prop("checked");
        $('#'+ tableId  + ' tbody input[type="checkbox"]:checked').prop('checked', false);
        $(this).prop("checked", checked);
      });

      return dataTable;
    }