<script>
  $(document).ready(function() {
    $('#invoice_invoice_on').val(moment().format("DD/MM/YY"));
    $('#invoice_due_on').val(moment().format("DD/MM/YY"));
  });
</script>

<% @breadcrumb = link_to('Invoices', {:action => 'index'}) + " / " + "<b>New</b>".html_safe %>

<%= form_for @invoice, url: {:action => 'create'}, :html => {:id => 'invoices_form'} do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

<% end %>

