$("#modal-content").html("<%= j render 'other' %>");
$("#modal").modal("show");

$(document).ready(function() {
  validateOtherForm();
});

$("#modal").on('shown.bs.modal', function () {
  validateOtherForm();
});

function validateOtherForm()
{
  var validator = $('#fee_item_form').validate(setHighlight());
  validator.element('#fee_item_name');
  validator.element('#price');
  validator.element('#quantity');
}