<%= form_for @studio_user, url: {:action => 'create'}, remote: true do |f| %>
    <div class="modal-body">
      <div id="error-div"></div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :studio_id, "Studio" %>
            <%= f.select :studio_id, options_from_collection_for_select(@studio_select_options, 'id', 'studio_name'), {}, class: "form-control" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :role_id, "Role" %>
            <%= f.select :role_id, options_for_select(@role_select_options_without_hq.collect {|p| [p[:name], p[:id]]}), {}, class: "form-control" %>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= link_to 'Cancel', '#', class: 'btn btn-default', data: {dismiss: 'modal'} %>
      <%= f.submit 'Add', class: 'btn btn-success' %>
    </div>
<% end %>