$('.unobtrusive-flash-container').empty() // remove previous message if exists
<% if @studio_user.errors.any? %>
$('#error-div').html('<%= j(render :partial => 'shared/error_messages', :locals => {:object => @studio_user}) %>');
<% else %>
  $("#modal").modal("hide")
  $('#table').DataTable().ajax.reload()
<% end %>