<% @breadcrumb = link_to('Users', '/hq/users/') + ' / Studios'.html_safe %>

<%= javascript_tag do %>

    var tableId = 'table';

    $(document).ready(function() {
       initTable(tableId, false, 0, 'asc');
    });

<% end %>

<%= error_messages_for(@user) %>



<div style="float: right; padding-top: 20px">
  <%= link_to "Cancel", '/hq/users/', :class => "btn btn-default" %>
</div>

<div class="clearfix"></div>

<div>
  <hr>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label">NRIC Name</label>
      <input type="text" class="form-control" name="user_nric_name" value="<%= @nric_name %>" disabled>
    </div>
  </div>
</div>

<%= link_to "Add studio", new_hq_user_studio_user_path, remote: true, class: "btn btn-primary" %>

<!--<button id="addStudio" type="button" class="btn btn-primary" data-toggle="modal">-->
<!--Add studio-->
<!--</button>-->
<!--<button id="delete" type="button" class="btn btn-primary" data-toggle="modal">-->
<!--Delete-->
<!--</button>-->
<div class="clearfix"></div>

</br>

<div>
  <table id="table" data-source="<%= index_data_hq_user_studio_users_path(user_id: @user_id, format: :json) %>" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th></th>
      <th>Studio Name</th>
      <th>Role</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document" display="table">
    <div id="modal-content" class="modal-content">
    </div>
  </div>
</div>
