<%= javascript_tag do %>

    $(document).ready(function() {

    $(function () {
    $('.datePicker').datetimepicker({
    format: 'DD/MM/YY',
    showTodayButton: true
    });
    });

    var validator = $("#holidays_form").validate(setHighlight());
    validator.element('#holiday_holiday_date');
    validator.element('#holiday_holiday_name');
    });

<% end %>

<%= error_messages_for(@holiday) %>

<div style="float: right; padding-top: 20px">
  <%= link_to "Cancel", {:action => :index}, :class => "btn btn-w-m btn-default" %>
  <%= f.submit 'Save', :class => 'btn btn-w-m btn-success' %>
</div>

<div class="clearfix"></div>

<div>
  <hr>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :holiday_date, "Holiday Date" %>
      <%= f.text_field :holiday_date, class: "form-control datePicker", required: "required" %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :holiday_name, "Holiday Name" %>
      <%= f.text_field :holiday_name, class: "form-control", required: "required" %>
    </div>
  </div>
</div>

