<% @breadcrumb = link_to('Holidays', {:action => 'index'}) + " / " + "<b>Edit</b>".html_safe %>

<%= form_for @holiday, url: {:action => 'update', :id => @holiday.id}, :html => {:id => 'holidays_form'} do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

<% end %>