$('.unobtrusive-flash-container').empty() // remove previous message if exists
<% if @student_report && @student_report.errors.any? %>
$('#error-div').html('<%= j(render partial: 'shared/error_messages', locals: {object: @student_report}) %>');
<% else %>
$('#table').DataTable().ajax.reload()
$('#table-total').DataTable().ajax.reload()
<% end %>