<%= javascript_tag do %>

    var tableId = 'table';
    var tableTotalId = 'table-total';

    $(document).ready(function() {
      initTableWithDeferLoading(tableId, true);
      initTableWithDeferLoadingTotal(tableTotalId);
      filterData();

    });

    function filterData()
    {
      //var teacherId = $('#teacher-select').find("option:selected").text();
      var teacherId = $('#teacher-select').val();
      var studioId = $('#studio-select').val();
      //var studioId = $("#studio-select").find("option:selected").text();

      var dataTable = $('#' + tableId).DataTable();
      dataTable.columns(0).search(studioId);
      dataTable.columns(1).search(teacherId);
      dataTable.draw();

      var dataTableTotal = $('#' + tableTotalId).DataTable();
      dataTableTotal.columns(0).search(studioId);
      dataTableTotal.columns(1).search(teacherId);
      dataTableTotal.draw();

    }



    function initTableWithDeferLoading(tableId, enableFeatures) {

      dataTable = $('#' + tableId).DataTable({
        processing: true,
        serverSide: true,
        deferLoading: true,
        ajax: {
        "url": $('#' + tableId).data('source'),
        "type": "POST"
        },
        pagingType: 'full_numbers',
        order: [[2, 'asc'], [3, 'asc'], [4, 'asc']],
        ordering:   enableFeatures,
        paging:   enableFeatures,
        info:   enableFeatures,
        bFilter: enableFeatures,

    columnDefs: [
    { targets: 0, visible: false },
    { targets: 1, visible: false },
    ]
      });

      return dataTable;
    }

    function initTableWithDeferLoadingTotal(tableId) {

    dataTable = $('#' + tableId).DataTable({
    processing: true,
    serverSide: true,
    deferLoading: true,
    ajax: {
    "url": $('#' + tableId).data('source'),
    "type": "POST"
    },
    pagingType: 'full_numbers',
    ordering:   false,
    paging:   false,
    'sDom': 't' // will display JUST the table, no headers or footers or anything



    });

    return dataTable;
    }


<% end %>

<% @breadcrumb = "Student Reports" %>



<div style="float: right; padding-top: 20px">
  <a href="/hq/student_reports/generate", data-remote="true" data-method="post" class="btn btn-success">Generate all</a>
</div>


<div class="clearfix"></div>

<hr>

<div class="row">
  <div class="col-sm-4">
    <div class="form-group">
      Studio
      <select id="studio-select" class="form-control">
        <option value=""></option>
        <% Studio.studio_select_options_without_hq.each do |studio| %>
            <option value=<%= studio.id %>><%= studio.studio_name %></option>
        <% end %>
      </select>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      Teacher
      <select id="teacher-select" class="form-control">
        <option value=""></option>
        <% Teacher.teacher_id_and_name.each do |teacher| %>
            <option value=<%= teacher.id %>><%= teacher.nric_name %></option>
        <% end %>
      </select>
    </div>
  </div>
</div>
<button id="btnFilter" class="btn btn-primary inline" onclick="filterData()">Search</button>

<hr>
<h3>Grand Total</h3>
<div>
  <table id="table-total" data-source="<%= index_total_data_hq_student_reports_path(format: :json) %>" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>SR1</th>
      <th>SR2</th>
      <th>SR3</th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SB1</th>
      <th>SB2</th>
      <th>SB3</th>
      <th>MB1</th>
      <th>MB2</th>
      <th>MB3</th>
      <th>Total</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<hr>

<div>
  <table id="table" data-source="<%= index_data_hq_student_reports_path(format: :json) %>" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Studio</th>
      <th>Teacher</th>
      <th>Month</th>
      <th class='sum'>SR1</th>
      <th class='sum'>SR2</th>
      <th class='sum'>SR3</th>
      <th class='sum'>SS1</th>
      <th class='sum'>SS2</th>
      <th class='sum'>SB1</th>
      <th class='sum'>SB2</th>
      <th class='sum'>SB3</th>
      <th class='sum'>MB1</th>
      <th class='sum'>MB2</th>
      <th class='sum'>MB3</th>
      <th class='sum'>Total</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>



