<%= javascript_tag do %>

<% end %>



<script>
  $(document).ready(function() {

    $('#student_myc_level_id').val('<%= @student.myc_level_id %>');
    validateFormRequired();
    $(function () {
      $('.datePicker').datetimepicker({
        format: 'DD/MM/YY',
        showTodayButton: true
      });
    });

    $('#student_family_id').change(function(){
      var family_id = $('#student_family_id').val();
      if(family_id == '')
      {
        hideFamilyPanel();
        hideOtherTab();
      }
      else
      {
        bindFamilyData(family_id);
        showFamilyPanel();
        showOtherTab();
      }
    });

    $('.nav-tabs a').on('shown.bs.tab', function(event){
      var activeTab = $(event.target).text();         // active tab
      if(activeTab == 'Family'){
        validateFormRequired();
      }
      if(activeTab == 'Student Profile'){
        validateFormRequired();
      }

    });

    $('#student_form').submit(function (event) {
      var isValid = $('#student_form').valid();
      if (isValid) {
        $("a[href='#student-profile']").tab('show');

        if(! isStudentProfileValid()){
          event.preventDefault();
          return false;
        }
      }
    });

  });

  function isStudentProfileValid()
  {
    var studentRequiredList = [ ];
    studentRequiredList [0] = $('#student_myc_level_id').val();
    studentRequiredList [1] = $('#student_nric_name').val();
    studentRequiredList [2] = $('#student_first_name').val();
    studentRequiredList [3] = $('#student_sur_name').val();
    studentRequiredList [4] = $('#student_date_of_birth_1i').val();
    studentRequiredList [5] = $('#student_date_of_birth_2i').val();
    studentRequiredList [6] = $('#student_date_of_birth_3i').val();
    studentRequiredList [7] = $('#student_gender').val();
    studentRequiredList [8] = $('#student_status').val();
    studentRequiredList [9] = $('#student_referred_by').val();

    for(var i=0; i<studentRequiredList.length; i++){
      if( studentRequiredList[i] == '')
      {
        return false;
      }
    }
    return true;
  }

  function bindFamilyData(family_id)
  {
    $.ajax({
      url: '/myc/families/'+family_id,
      type: 'GET',
      data: {family_id: family_id},
      success: function (response) {
        var family = response.data;
        putFamilyDataToTextBox(family);
      },
      error: function(xhr){
        var jsonResponse = $.parseJSON(xhr.responseText);
        UnobtrusiveFlash.showFlashMessage(jsonResponse.message, {type: 'error', timeout: 0});

        for (var i = 0; i < jsonResponse.errors.length; i++) {
          UnobtrusiveFlash.showFlashMessage(jsonResponse.errors[i], {type: 'error', timeout: 0});
        }
      }
    });
  }

  function putFamilyDataToTextBox(family)
  {
    $('#student_family_attributes_address1').val(family['address1']);
    $('#student_family_attributes_address2').val(family['address2']);
    $('#student_family_attributes_postal_code').val(family['postal_code']);
    $('#student_family_attributes_city_or_state').val(family['city_or_state']);
    $('#student_family_attributes_country').val(family['country']);

    $('#student_family_attributes_primary_contact_name').val(family['primary_contact_name']);
    $('#student_family_attributes_primary_contact_phone_no').val(family['primary_contact_phone_no']);
    $('#student_family_attributes_primary_contact_occupation').val(family['primary_contact_occupation']);
    checkCheckBoxValue('student_family_attributes_primary_contact_accompany_for_student', family['primary_contact_accompany_for_student']);
    $('#student_family_attributes_primary_contact_relationship').val(family['primary_contact_relationship']);
    $('#student_family_attributes_primary_contact_email').val(family['primary_contact_email']);
    $('#student_family_attributes_primary_contact_music_background').val(family['primary_contact_music_background']);

    $('#student_family_attributes_other_contact_name').val(family['other_contact_name']);
    $('#student_family_attributes_other_contact_phone_no').val(family['other_contact_phone_no']);
    $('#student_family_attributes_other_contact_occupation').val(family['other_contact_occupation']);
    checkCheckBoxValue('student_family_attributes_other_contact_accompany_for_student', family['other_contact_accompany_for_student']);
    $('#student_family_attributes_other_contact_relationship').val(family['other_contact_relationship']);
    $('#student_family_attributes_other_contact_email').val(family['other_contact_email']);
    $('#student_family_attributes_other_contact_music_background').val(family['other_contact_music_background']);

  }

  function checkCheckBoxValue(id, data)
  {
    if(data == true)
    {
      $('#'+id).prop('checked', true);
    }
    else
    {
      $('#'+id).prop('checked', false);
    }
  }

  function validateFormRequired()
  {

    var validator = $("#student_form").validate(setHighlight());
    validator.element('#student_family_id');
    validator.element('#student_myc_level_id');
    validator.element('#student_nric_name');
    validator.element('#student_first_name');
    validator.element('#student_sur_name');
    validator.element('#student_date_of_birth_1i');
    validator.element('#student_date_of_birth_2i');
    validator.element('#student_date_of_birth_3i');
    validator.element('#student_gender');
    validator.element('#student_status');
    validator.element('#student_referred_by');
    validator.element('#student_enquiry_date');

  }

  function hideOtherTab()
  {
    $('#student-tab').hide();
    $('#music-tab').hide();
    $('#instrument-tab').hide();
  }

  function showOtherTab()
  {
    $('#student-tab').show();
    $('#music-tab').show();
    $('#instrument-tab').show();
  }

  function hideFamilyPanel()
  {
    $('#edit_family_link').hide();
    $('#family_info_panel').hide();
    $('#primary_contact_panel').hide();
    $('#other_contact_panel').hide();
  }

  function showFamilyPanel()
  {
    $('#edit_family_link').show();
    $('#family_info_panel').show();
    $('#primary_contact_panel').show();
    $('#other_contact_panel').show();
  }

  function jumpFamilyEdit()
  {
    location.href= '/myc/families/'+ $('#student_family_id').val() +'/edit';
  }


</script>

<%= error_messages_for(@student) %>

<div style="float: right; padding-top: 20px">
  <%= link_to "Cancel", {:action => :index}, :class => "btn btn-w-m btn-default" %>
  <%= f.submit 'Save', :class => 'btn btn-w-m btn-success' %>
</div>

<div class="clearfix"></div>

<div>
  <hr>
</div>

<div class="row">
  <div class="col-lg-12">
    <div width="100%">

      <ul class="nav nav-tabs">
        <li class="active" id="family-tab"><a data-toggle="tab" href="#family-profile">Family</a></li>
        <li id="student-tab"><a data-toggle="tab" href="#student-profile">Student Profile</a></li>
        <li id="music-tab"><a data-toggle="tab" href="#music-background">Music Background</a></li>
        <li id="instrument-tab"><a data-toggle="tab" href="#instrument-owned">Instrument Owned</a></li>
      </ul>

      <div class="tab-content">

        <div id="family-profile" class="tab-pane fade  in active">
          <div class="row">
            <div class="col-md-12">
              <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                      <div class="col-sm-6">

                        <%= f.collection_select(:family_id, Family.where(status: Family.statuses[:active], studio_id: session[:current_studio_id]).order(:primary_contact_name), :id, :primary_contact_name, {}, { class: 'form-control', required: "required" })  %>
                      </div>

                      <div class="col-sm-6">
                        <%= link_to('New Family', new_myc_family_path)%>
                      </div>
                    </div>
                </div>
                <hr>

                <div><a href="javascript:jumpFamilyEdit()" id="edit_family_link">Edit Family</a></div>
                <br>
                <div>
                  <div class="row" id="family_info_panel">
                    <div class="col-md-12">
                      <div class="panel panel-default">
                        <div class="panel-heading">Address</div>
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="form-group">
                                <%= f.fields_for :family do |family| %>
                                    <%= family.label :address1, "Address1" %>
                                    <%= family.text_field :address1, class: "form-control", readonly: "true" %>
                                <% end %>
                              </div>
                              <div class="form-group">
                                <%= f.fields_for :family do |family| %>
                                    <%= family.label :postal_code, "Postal Code" %>
                                    <%= family.text_field :postal_code, class: "form-control", readonly: "true"%>
                                <% end %>
                              </div>
                              <div class="form-group">
                                <%= f.fields_for :family do |family| %>
                                    <%= family.label :country, "Country" %>
                                    <%= family.text_field :country, class: "form-control", readonly: "true"%>
                                <% end %>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <div class="form-group">
                                  <%= f.fields_for :family do |family| %>
                                      <%= family.label :address2, "Address2" %>
                                      <%= family.text_field :address2, class: "form-control", readonly: "true"%>
                                  <% end %>
                                </div>
                                <div class="form-group">
                                  <%= f.fields_for :family do |family| %>
                                      <%= family.label :city_or_state, "City Or State" %>
                                      <%= family.text_field :city_or_state, class: "form-control", readonly: "true"%>
                                  <% end %>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" id="primary_contact_panel">
                  <div class="col-md-12">
                    <div class="panel panel-default">
                      <div class="panel-heading">Primary Contact </div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <%= f.fields_for :family do |family| %>
                                  <%= family.label :primary_contact_name, "Name" %>
                                  <%= family.text_field :primary_contact_name, class: "form-control", readonly: "true"%>
                              <% end %>
                            </div>
                            <div class="form-group">
                              <%= f.fields_for :family do |family| %>
                                  <%= family.label :primary_contact_phone_no, "Phone No" %>
                                  <%= family.text_field :primary_contact_phone_no, class: "form-control", readonly: "true"%>
                              <% end %>
                            </div>
                            <div class="form-group">
                              <%= f.fields_for :family do |family| %>
                                  <%= family.label :primary_contact_occupation, "Occupation" %>
                                  <%= family.text_field :primary_contact_occupation, class: "form-control", readonly: "true"%>
                              <% end %>
                            </div>
                            <div class="form-group">
                              <div class="checkbox">
                                <label for="has_college_abrsm">
                                  <%= f.fields_for :family do |family| %>
                                      <%= family.check_box :primary_contact_accompany_for_student, disabled: 'true'%>Accompany For Student
                                  <% end %>
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <div class="form-group">
                                <%= f.fields_for :family do |family| %>
                                    <%= family.label :primary_contact_relationship, "Relationship" %>
                                    <%= family.text_field :primary_contact_relationship, class: "form-control", readonly: "true"%>
                                <% end %>
                              </div>
                              <div class="form-group">
                                <%= f.fields_for :family do |family| %>
                                    <%= family.label :primary_contact_email, "Email" %>
                                    <%= family.text_field :primary_contact_email, class: "form-control", readonly: "true"%>
                                <% end %>
                              </div>
                              <div class="form-group">
                                <%= f.fields_for :family do |family| %>
                                    <%= family.label :primary_contact_music_background, "Background" %>
                                    <%= family.text_field :primary_contact_music_background, class: "form-control", readonly: "true"%>
                                <% end %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" id="other_contact_panel">
                  <div class="col-md-12">
                    <div class="panel panel-default">
                      <div class="panel-heading">Other Contact </div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <%= f.fields_for :family do |family| %>
                                  <%= family.label :other_contact_name, "Name" %>
                                  <%= family.text_field :other_contact_name, class: "form-control", readonly: "true"%>
                              <% end %>
                            </div>
                            <div class="form-group">
                              <%= f.fields_for :family do |family| %>
                                  <%= family.label :other_contact_phone_no, "Phone No" %>
                                  <%= family.text_field :other_contact_phone_no, class: "form-control", readonly: "true"%>
                              <% end %>
                            </div>
                            <div class="form-group">
                              <%= f.fields_for :family do |family| %>
                                  <%= family.label :other_contact_occupation, "Occupation" %>
                                  <%= family.text_field :other_contact_occupation, class: "form-control", readonly: "true"%>
                              <% end %>
                            </div>
                            <div class="form-group">
                              <div class="checkbox">
                                <label for="has_college_abrsm">
                                  <%= f.fields_for :family do |family| %>
                                      <%= family.check_box :other_contact_accompany_for_student, disabled: 'true'%>Accompany For Student
                                  <% end %>
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <div class="form-group">
                                <%= f.fields_for :family do |family| %>
                                    <%= family.label :other_contact_relationship, "Relationship" %>
                                    <%= family.text_field :other_contact_relationship, class: "form-control", readonly: "true"%>
                                <% end %>
                              </div>
                              <div class="form-group">
                                <%= f.fields_for :family do |family| %>
                                    <%= family.label :other_contact_email, "Email" %>
                                    <%= family.text_field :other_contact_email, class: "form-control", readonly: "true"%>
                                <% end %>
                              </div>
                              <div class="form-group">
                                <%= f.fields_for :family do |family| %>
                                    <%= family.label :other_contact_music_background, "Background" %>
                                    <%= family.text_field :other_contact_music_background, class: "form-control", readonly: "true"%>
                                <% end %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              </div>
            </div>
          </div>

        <div id="student-profile" class="tab-pane fade">
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">Course Enrolment</div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <%= f.label(:myc_level_id, "Program") %>
                            <%= f.select(:myc_level_id, options_for_select(MycProgram.active_program_and_level_order_by_display_order.collect.map {|p| [p.program_and_level_name, p.id ] }), {}, {class: 'form-control', required: "required" }) %>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <%= f.label :enrolment_theory, "Theory" %>
                            <%= f.text_field :enrolment_theory, class: "form-control" %>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <%= f.label :enrolment_piano, "Pianos" %>
                            <%= f.text_field :enrolment_piano, class: "form-control" %>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <%= f.label :enrolment_other, "Other" %>
                            <%= f.text_field :enrolment_other, class: "form-control" %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <h3>Preferred Lesson Day And Time</h3>
                      <br/>

                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <%= f.label  "1" %>
                            <%= f.label :preferred_day_one, "Day" %>
                            <%= f.select :preferred_day_one, ['', :Mon, :Tue, :Wed, :Thu, :Fri, :Sat, :Sun], {}, {class: "form-control" }  %>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <%= f.label :preferred_time_one, "Time" %>
                            <%= f.select :preferred_time_one, ['', '9-12 am', '12-6 pm', '6-9 pm'], {}, {class: "form-control" }  %>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <%= f.label  "2" %>
                            <%= f.label :preferred_day_two, "Day" %>
                            <%= f.select :preferred_day_two, ['', :Mon, :Tue, :Wed, :Thu, :Fri, :Sat, :Sun], {}, {class: "form-control" }  %>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <%= f.label :preferred_time_two, "Time" %>
                            <%= f.select :preferred_time_two, ['', '9-12 am', '12-6 pm', '6-9 pm'], {}, {class: "form-control" }  %>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <%= f.label  "3" %>
                            <%= f.label :preferred_day_three, "Day" %>
                            <%= f.select :preferred_day_three, ['', :Mon, :Tue, :Wed, :Thu, :Fri, :Sat, :Sun], {}, {class: "form-control" }  %>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <%= f.label :preferred_time_three, "Time" %>
                            <%= f.select :preferred_time_three, ['', '9-12 am', '12-6 pm', '6-9 pm'], {}, {class: "form-control" }  %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">Student's Particular</div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <%= f.label :nric_name, "NRIC Name" %>
                        <%= f.text_field :nric_name, class: "form-control", required: "true" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :first_name, "First Name" %>
                        <%= f.text_field :first_name, class: "form-control", required: "true" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :sur_name, "Surname" %>
                        <%= f.text_field :sur_name, class: "form-control", required: "true" %>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="form-group">
                          <%= f.label :gender, "Gender" %>
                          <%= f.select :gender, [:M, :F], {}, {class: "form-control", required: "true" }  %>
                        </div>
                        <div class="form-group">
                          <%= f.label :date_of_birth, "Date of Birth" %><br>
                          <%= f.date_select :date_of_birth, { start_year: Time.now.year-80, end_year: Time.now.year, include_blank: true}, { required: "true" } %>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <hr>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <%= f.label :referred_by, "Referred By" %>
                        <%= f.select :referred_by, ['Current Parent', 'Ex Parent', 'Recommended', 'Facebook', 'Flyer', 'Walk in', 'Internet', 'Other'], {},  {class: "form-control", required: "required" }  %>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <%= f.label :status, "Student Status" %>
                        <%= f.select( :status, Student.humanize_statuses, {}, {class: "form-control", required: "required" } )  %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <%= f.label :enquiry_date, "Enquiry Date ( dd/mm/yy ) " %>
                        <%= f.text_field :enquiry_date,  class: "form-control datePicker", required: "required" %>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <%= f.label :registration_date, "Registration Date ( dd/mm/yy ) " %>
                        <%= f.text_field :registration_date, class: "form-control datePicker" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div id="music-background" class="tab-pane fade">
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-body">
                  <h3>Piano</h3>
                  <br/>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <%= f.label :piano_standard, "Standard" %>
                        <%= f.text_field :piano_standard, class: "form-control" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :piano_college, "College" %>
                        <%= f.select :piano_college, ['', :ABRSM, :Guildhall, :Trinity], {}, {class: "form-control"}  %>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <%= f.label :piano_school_attended, "Music School Attended" %>
                        <%= f.text_field :piano_school_attended, class: "form-control" %>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <h3>Theory</h3>
                  <br/>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <%= f.label :theory_standard, "Standard" %>
                        <%= f.text_field :theory_standard, class: "form-control" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :theory_college, "College" %>
                        <%= f.select :theory_college, ['',:ABRSM, :Guildhall, :Trinity], {}, {class: "form-control"}  %>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <%= f.label :theory_school_attended, "Music School Attended" %>
                        <%= f.text_field :theory_school_attended, class: "form-control" %>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <h3>Violin</h3>
                  <br/>

                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <%= f.label :violin_standard, "Standard" %>
                        <%= f.text_field :violin_standard, class: "form-control" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :violin_college, "College" %>
                        <%= f.select :violin_college, ['', :ABRSM, :Guildhall, :Trinity], {}, {class: "form-control"}  %>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <%= f.label :violin_school_attended, "Music School Attended" %>
                        <%= f.text_field :violin_school_attended, class: "form-control" %>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <h3>Other</h3>
                  <br/>

                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <%= f.label :other_standard, "Standard" %>
                        <%= f.text_field :other_standard, class: "form-control" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :other_college, "Gender" %>
                        <%= f.select :other_college, ['', :ABRSM, :Guildhall, :Trinity], {}, {class: "form-control"}  %>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <%= f.label :other_school_attended, "Music School Attended" %>
                        <%= f.text_field :other_school_attended, class: "form-control" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="instrument-owned" class="tab-pane fade">
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">

                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="checkbox">
                          <label for="instrument_owned_has_piano">
                            <%= f.check_box :instrument_owned_has_piano %>Piano
                          </label>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="checkbox">
                          <label for="instrument_owned_has_organ">
                            <%= f.check_box :instrument_owned_has_organ %>Organ
                          </label>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="checkbox">
                          <label for="instrument_owned_has_keyboard">
                            <%= f.check_box :instrument_owned_has_keyboard %>Keyboard
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="checkbox">
                          <label for="instrument_owned_has_violin">
                            <%= f.check_box :instrument_owned_has_violin %>Violin
                          </label>
                        </div>
                      </div>
                      <div class="form-group">
                        <%= f.label :instrument_owned_other, "Other" %>
                        <%= f.text_field :instrument_owned_other, class: "form-control" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>