
<% @breadcrumb = link_to('Students', {:action => 'index'}) + " / " + "<b>Edit</b>".html_safe %>

<%= form_for @student, url: {:action => 'update', :id => @student.id}, :html => {:id => 'student_form'} do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

<% end %>