<script>
  $(document).ready(function() {
    $('#student_enquiry_date').val(moment().format("DD/MM/YY"));
    hideFamilyPanel();
    hideOtherTab();
    $('#student_family_id').val('');

  });
</script>

<% @breadcrumb = link_to('Students', {:action => 'index'}) + " / " + "<b>New</b>".html_safe %>

<%= form_for @student, url: {:action => 'create'}, :html => {:id => 'student_form'} do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

<% end %>