<%= javascript_tag do %>

    $(document).ready(function() {
      var validator = $("#form_id").validate(setHighlight());
      validator.element('#product_code_code');
      validator.element('#product_code_status');
      validator.element('#product_code_price');
      validator.element('#product_code_myc_program_id');
    });

<% end %>

<%= error_messages_for(@product_code) %>

<div style="float: right; padding-top: 20px">
  <%= link_to "Cancel", {:action => :index}, :class => "btn btn-w-m btn-default" %>
  <%= f.submit 'Save', :class => 'btn btn-w-m btn-success' %>
</div>

<div class="clearfix"></div>

<div>
  <hr>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :code, "Code" %>
      <%= f.text_field :code, class: "form-control", required: "required" %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :status, "Status" %>
      <%= f.select :status, options_for_select(ProductCode.statuses.map { |s| [s[0].humanize, s[0]] }, selected: @product_code.status), {} , class: "form-control" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label">Cost</label>
      <input type="text" class="form-control" id="cost" value="<%= @cost %>" disabled>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :price, "Price" %>
      <%= f.text_field :price, class: "form-control", required: "required" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :remarks, "Remarks" %>
      <%= f.text_field :remarks, class: "form-control" %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :myc_program_id, "MYC Program" %>
      <%= f.select :myc_program_id, options_from_collection_for_select(@myc_program_select_options, 'id', 'program_name', selected: @product_code.myc_program_id), {}, class: "form-control", required: "required" %>
    </div>
  </div>
</div>
