$('.unobtrusive-flash-container').empty() // remove previous message if exists
<% if @product_code && @product_code.errors.any? %>
$('#error-div').html('<%= j(render :partial => 'shared/error_messages', locals: {object: @product_code}) %>');
<% elsif @product_pack && @product_pack.errors.any? %>
$('#error-div').html('<%= j(render :partial => 'shared/error_messages', locals: {object: @product_pack}) %>');
<% else %>
  $("#modal").modal("hide")
  $('#table-pack').DataTable().ajax.reload()
  $('#cost').val('<%= @cost %>');
<% end %>