<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="exampleModalLabel">Items</h4>
</div>
<div class="modal-body">
  <div id="error-div"></div>

  <div>
    <table id="table-pack-items" data-source="<%= "/hq/product_packs/#{@product_pack_id}/item_data_by_pack.json" %>" class="table table-bordered table-striped">
      <thead>
      <tr>
        <th></th>
        <th>Product Items</th>
        <th>Cost</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

</div>
<div class="modal-footer">
  <%= link_to 'Close', '#', class: 'btn btn-default', data: {dismiss: 'modal'} %>
</div>
