<%= javascript_tag do %>

    $(document).ready(function() {
      initTableWithFirstColumnActionMenu('table-pack', false, 1, 'desc');
      initTableWithFirstColumnActionMenu('table-code', false, 1, 'desc');
    });

<% end %>

<% @breadcrumb = link_to('Product Codes', {:action => 'index'}) + " / " + "<b>Edit</b>".html_safe %>

<%= form_for @product_code, url: {:action => 'update', :id => @product_code.id}, :html => {:id => 'form_id'} do |f| %>

  <%= render(:partial => "form", :locals => {:f => f}) %>


    <%= link_to "Add pack", "/hq/product_codes/#{@product_code.id}/select_pack", remote: true, class: "btn btn-primary" %>

    <div class="clearfix"></div>

    </br>

    <div>
      <table id="table-pack" data-source="<%= "/hq/product_codes/#{@product_code.id}/pack_data_by_code.json" %>" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th></th>
          <th>Product Packs</th>
          <th>Cost</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

    <%= link_to "Add item", "/hq/product_codes/#{@product_code.id}/select_item", remote: true, class: "btn btn-primary" %>

    <div class="clearfix"></div>

    </br>

    <div>
      <table id="table-code" data-source="<%= "/hq/product_codes/#{@product_code.id}/item_data_by_code.json" %>" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th></th>
          <th>Product Items</th>
          <th>Cost</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

    <div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document" display="table">
        <div id="modal-content" class="modal-content">
        </div>
      </div>
    </div>


<% end %>