$("#modal-content").html("<%= j render 'select_item' %>")
$("#modal").modal("show")

$(document).ready(function() {
  var validator = $("#form_id_select_item").validate(setHighlight());
  validator.element('#product_item_id');
});
