$("#modal-content").html("<%= j render 'select_pack' %>")
$("#modal").modal("show")
$(document).ready(function() {
  var validator = $('#form_id_select_pack').validate(setHighlight());
  validator.element('#product_pack_id');
});