$("#modal-content").html("<%= j render('show_pack_items') %>")
$("#modal").modal("show")
$(document).ready(function() {
  initTableWithFirstColumnActionMenu('table-pack-items', false, 1, 'asc');
});

