<%= javascript_tag do %>

    var tableId = 'table';

    $(document).ready(function() {
    initTableWithDeferLoading(tableId, true, 0, 'asc');
    filterData();
    });

    function filterData()
    {
    var statusId = $('#status-select').val();
    var dataTable = $('#' + tableId).DataTable();
    dataTable.columns('3:visIdx').search(statusId).draw();
    }
<% end %>

<% @breadcrumb = "Teachers" %>

<div style="float: left; padding-top: 20px">
  <a href="#filter" class="btn btn-default" data-toggle="collapse">Filter</a>
</div>

<div class="clearfix"></div>

<hr>

<div id="filter" class="collapse">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        Status
        <select id="status-select" class="form-control">
          <option value=""></option>
          <% User.statuses.each do |status| %>
              <option value=<%= status[1] %> <%= 'selected=selected' if status[1] == User.statuses[:active] %> ><%= status[0].humanize %></option>
          <% end %>
        </select>
      </div>
    </div>
  </div>
  <button id="btnFilter" class="btn btn-primary inline" onclick="filterData()">Search</button>
  <hr>
</div>

<div>
  <table id="table" data-source="<%= index_data_myc_teachers_path(format: :json) %>" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>NRIC Name</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Status</th>
      <th>L1 (SR, SS1, SB1, MB1) Trained Date</th>
      <th>L2 (MB2) Trained Date</th>
      <th>L2 (SS2) Trained Date</th>
      <th>L3 (SB3) Trained Date</th>
      <th>L2 (SB2) Trained Date</th>
      <th>L3 (MB3) Trained Date</th>
      <th>Date of 1st Teacher Visit</th>
      <th>Date of 2nd Teacher Visit</th>
      <th>Date of 3rd Teacher Visit</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

