$('.unobtrusive-flash-container').empty() // remove previous message if exists
<% if @teacher_commission && @teacher_commission.errors.any? %>
$('#error-div').html('<%= j(render partial: 'shared/error_messages', locals: {object: @teacher_commission}) %>');
<% elsif @teacher_commission_item && @teacher_commission_item.errors.any? %>
$('#error-div').html('<%= j(render partial: 'shared/error_messages', locals: {object: @teacher_commission_item}) %>');
<% else %>
$("#modal").modal("hide")
$('#table').DataTable().ajax.reload()
<% end %>