<%= javascript_tag do %>

    var tableId = 'table';

    $(document).ready(function() {
    initTableWithDeferLoading(tableId, true, 0, 'desc');
    filterData();
    });

    function filterData()
    {
    var teacherName = $('#teacher-select').val();
    dataTable.columns(0).search(teacherName).draw();
    }
<% end %>

<% @breadcrumb = "Teacher Commissions" %>

<div style="float: left; padding-top: 20px">
  <a href="#filter" class="btn btn-default" data-toggle="collapse">Filter</a>
</div>

<% if session[:current_user_role_id] == StudioUser.roles[:studio_admin] %>
    <div style="float: right; padding-top: 20px">
      <a href="/myc/teacher_commissions/generate_confirm" , data-remote="true" class="btn btn-success">Generate current
        month</a>
    </div>
<% end %>

<div class="clearfix"></div>

<hr>

<div id="filter" class="collapse">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        Teacher
        <select id="teacher-select" class="form-control">
          <% teachers = Teacher.teacher_id_and_name_can_view_teacher_commission(session[:current_studio_id], current_user.id, session[:current_user_role_id]) %>
          <% if session[:current_user_role_id] == StudioUser.roles[:teacher] %>
              <option value=<%= teachers[0].nric_name %> 'selected=selected'><%= teachers[0].nric_name %></option>
          <% else %>
              <option value=""></option>
              <% teachers.each do |teacher| %>
                  <option value=<%= teacher.nric_name %>><%= teacher.nric_name %></option>
              <% end %>
          <% end %>
        </select>
      </div>
    </div>
  </div>
  <button id="btnFilter" class="btn btn-primary inline" onclick="filterData()">Search</button>
  <hr>
</div>

<div>
  <table id="table" data-source="<%= index_data_myc_teacher_commissions_path(format: :json) %>" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Teacher</th>
      <th>Date</th>
      <th>Net Pay ($)</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document" display="table">
    <div id="modal-content" class="modal-content">
    </div>
  </div>
</div>




