<%= javascript_tag do %>

    $(document).ready(function() {
      initTableWithFirstColumnActionMenu('table-item', false, 4, 'desc');
      initTableWithFirstColumnActionMenu('table-item-additional', false, 1, 'desc');
      initTableWithFirstColumnActionMenu('table-other', false, 1, 'desc');
    });

<% end %>

<% @breadcrumb = link_to('Teacher Commissions', '/myc/teacher_commissions/') + " / " + "<b>Statement</b>".html_safe %>

<div style="float: right; padding-top: 20px">
  <%= link_to "Cancel", '/myc/teacher_commissions/', :class => "btn btn-default" %>
</div>

<div class="clearfix"></div>

<hr>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label">Teacher</label>
      <input type="text" class="form-control" name="teacher_nric_name" value="<%= @teacher_commission.teacher_nric_name %>" disabled>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label">Generated Date</label>
      <input type="text" class="form-control" name="statement_date" value="<%= @teacher_commission.statement_date %>" disabled>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label">Net Pay</label>
      <input type="text" class="form-control" id="net_pay" value="<%= @net_pay %>" disabled>
    </div>
  </div>
</div>

<div>
  <table id="table-item" data-source="<%= "/myc/teacher_commissions/#{@teacher_commission.id}/teacher_commission_items/index_data.json" %>" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th></th>
      <th>Program</th>
      <th>Day</th>
      <th>Time</th>
      <th>Student</th>
      <th>Lesson Date</th>
      <th>Term Fee ($)</th>
      <th>Lesson Fee ($)</th>
      <th>No of Lessons</th>
      <th>Total Fee ($)</th>
      <th>%</th>
      <th>Commission ($)</th>
      <th>Remarks</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<%= link_to 'Add other commissions', "/myc/teacher_commissions/#{@teacher_commission.id}/teacher_commission_item_additionals/new", remote: true, class: "btn btn-primary" %>

<div class="clearfix"></div>
</br>

<div>
  <table id="table-item-additional" data-source="<%= "/myc/teacher_commissions/#{@teacher_commission.id}/teacher_commission_item_additionals/index_data.json" %>" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th></th>
      <th>Program</th>
      <th>Day</th>
      <th>Time</th>
      <th>Student</th>
      <th>Lesson Date</th>
      <th>Term Fee ($)</th>
      <th>Lesson Fee ($)</th>
      <th>No of Lessons</th>
      <th>Total Fee ($)</th>
      <th>%</th>
      <th>Commission ($)</th>
      <th>Remarks</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<%= link_to 'Add others', "/myc/teacher_commissions/#{@teacher_commission.id}/teacher_commission_others/new", remote: true, class: "btn btn-primary" %>

<div class="clearfix"></div>

</br>

<div>
  <table id="table-other" data-source="<%= "/myc/teacher_commissions/#{@teacher_commission.id}/teacher_commission_others/index_data.json" %>" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th></th>
      <th>Item</th>
      <th>Amount ($)</th>
      <th>Remarks</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>


<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document" display="table">
    <div id="modal-content" class="modal-content">
    </div>
  </div>
</div>



