<%= javascript_tag do %>

var tableId = 'users-table';
var selectAllCheckboxId = 'check-all';

$(document).ready(function() {
  initCheckboxTable(tableId, selectAllCheckboxId);
});

<% end %>

<% @breadcrumb = "Studio Admins" %>

<div style="float: right; padding-top: 20px">
	<div class="dropdown inline">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    More
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
      <li><a href="javascript:sendAjaxData('<%= t('ask_status_make_active') %>', '/hq/studio_admins/update_status', {'status_id': <%= StudioAdmin.statuses[:active] %>, 'ids': getSelectedIds()})">Make active</a></li>
      <li><a href="javascript:sendAjaxData('<%= t('ask_status_make_inactive') %>', '/hq/studio_admins/update_status', {'status_id': <%= StudioAdmin.statuses[:inactive] %>, 'ids': getSelectedIds()})">Make inactive</a></li>
      <li><a href="javascript:sendAjaxData('<%= t('ask_status_delete') %>', '/hq/studio_admins/update_status', {'status_id': <%= StudioAdmin.statuses[:deleted] %>, 'ids': getSelectedIds()})">Delete</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="javascript:sendAjaxData('<%= t('ask_invite') %>', '/hq/studio_admins/invite', {'ids': getSelectedIds()})">Invite</a></li>
    </ul>
	</div>
	<%= link_to "New", {:action => :new}, :class => "btn btn-success" %>
</div>


<div class="clearfix"></div>

<hr>

<div>
	<table id="users-table", data-source="<%= index_data_hq_studio_admins_path(format: :json) %>", class="table table-bordered">
		<thead>
			<tr>
        <th><input type="checkbox" id="check-all" ></th>
				<th>NRIC Name</th>
				<th>Phone Number</th>
				<th>Email</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			</tbody>
	</table>
</div>


