<%= javascript_tag do %>

    var tableId = 'table';

    $(document).ready(function() {
      initTableWithDeferLoading(tableId, true, 1, 'asc');
      filterData();
    });

    function filterData()
    {
      var statusId = $('#status-select').val();
      var dataTable = $('#' + tableId).DataTable();
      dataTable.columns(7).search(statusId).draw();
     // dataTable.columns(7).search("^" + $('#status-select').val() + "$", true, false, true).draw();
     // dataTable.columns(7).search("^\\s*"+$('#status-select').val()+"\\s*$", true, false, true).draw();
    //dataTable.fnFilter("^"+$('#status-select').val()+"$", 7, true);
    //dataTable.fnFilter("^"+statusId+"$", 6, false, false);

    //regExSearch = '^' + statusId +'$';
    //dataTable.column(7).search(regExSearch, true, false).draw();

    //dataTable.columns(7).search("^0$",true,false).draw();
    }

    function initTableWithDeferLoading(tableId, enableFeatures, order_by_column_number, order_by_asc_or_desc) {
      dataTable = $('#' + tableId).DataTable({
      processing: true,
      serverSide: true,
      deferLoading: true,
      ajax: {
      "url": $('#' + tableId).data('source'),
      "type": "POST"
      },
      pagingType: 'full_numbers',
      order: [[order_by_column_number, order_by_asc_or_desc]],
      ordering:   enableFeatures,
      paging:   enableFeatures,
      info:   enableFeatures,
      bFilter: enableFeatures,
      pageLength: 50
      });

      return dataTable;
    }
<% end %>

<% @breadcrumb = "MYC Programs" %>

<div style="float: left; padding-top: 20px">
  <a href="#filter" class="btn btn-default" data-toggle="collapse">Filter</a>
</div>

<div style="float: right; padding-top: 20px">
  <a href="/hq/users/new" , class="btn btn-success">New</a>
</div>

<div class="clearfix"></div>

<hr>

<div id="filter" class="collapse">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        Status
        <select id="status-select" class="form-control">
          <option value=""></option>
          <% MycProgram.statuses.each do |status| %>
              <option value=<%= status[1] %> <%= 'selected=selected' if status[1] == MycProgram.statuses[:active] %> ><%= status[0].humanize %></option>
          <% end %>
        </select>
      </div>
    </div>
  </div>
  <button id="btnFilter" class="btn btn-primary inline" onclick="filterData()">Search</button>
  <hr>
</div>

<div>
  <table id="table" data-source="<%= index_data_hq_myc_programs_path(format: :json) %>" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Program Name</th>
      <th>Program Code</th>
      <th>Status</th>
      <th>Program Order</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>



