<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <!-- <li class="nav-header">
          <div class="dropdown profile-element">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                  <span class="clear">
                      <span class="block m-t-xs">
                          <strong class="font-bold">Example user</strong>
                      </span> <span class="text-muted text-xs block">Example menu <b class="caret"></b></span>
                  </span>
              </a>
              <ul class="dropdown-menu animated fadeInRight m-t-xs">
                  <li><a href="#">Logout</a></li>
              </ul>
          </div>
          <div class="logo-element">
              IN+
          </div>
      </li> -->
      <li class="nav-header" style="background:#1ab394; height: 60px;">
        <div>
          <span class="nav-label" style="color:#FFFFFF ; font-size: 27px"> <strong class="font-bold">M Y
            C</strong></span>
        </div>
        <div class="logo-element">
          MYC
        </div>
      </li>

      <% if session[:current_studio_name] == Rails.configuration.hq_studio_name && session[:current_user_role_id] == StudioUser.roles[:super_user] %>
          <li class="<%= 'active' if current_page?('/hq/myc_programs') %>">
            <%= link_to '/hq/myc_programs' do %>
                <i class="fa fa-music"></i> <span class="nav-label">MYC Programs</span>
            <% end %>
          </li>
          <li class="<%= 'active' if current_page?('/hq/studios') %>">
            <%= link_to '/hq/studios' do %>
                <i class="fa fa-bank"></i> <span class="nav-label">Studios</span>
            <% end %>
          </li>
          <li class="<%= 'active' if current_page?('/hq/users') %>">
            <%= link_to '/hq/users' do %>
                <i class="fa fa-user"></i> <span class="nav-label">Users</span>
            <% end %>
          </li>
          <li class="<%= 'active' if current_page?('/hq/student_reports') %>">
            <%= link_to '/hq/student_reports' do %>
                <i class="fa fa-file-text-o"></i> <span class="nav-label">Student Reports</span>
            <% end %>
          </li>
          <li class="<%= is_active_material_menu %>">
            <a href=""><i class="fa fa-book"></i> <span class="nav-label" data-i18n="nav.dashboard">Material</span>
              <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
              <li class="<%= is_active_controller('hq/product_items') %>"><%= link_to '/hq/product_items/' do %>
                    <span class="nav-label">Items</span>
                <% end %></li>
              <li class="<%= is_active_controller('hq/product_packs') %>"><%= link_to '/hq/product_packs/' do %>
                    <span class="nav-label">Packs</span>
                <% end %></li>
              <li class="<%= is_active_controller('hq/product_codes') %>"><%= link_to '/hq/product_codes/' do %>
                    <span class="nav-label">Codes</span>
                <% end %></li>
            </ul>
          </li>
      <% end %>
      <% if session[:current_user_role_id] == StudioUser.roles[:studio_admin] || session[:current_user_role_id] == StudioUser.roles[:teacher] %>
          <li class="<%= 'active' if current_page?('/myc/calendar') %>">
            <%= link_to '/myc/calendar' do %>
                <i class="fa fa-calendar"></i> <span class="nav-label">Calendar</span>
            <% end %>
          </li>
      <% end %>
      <% if session[:current_user_role_id] == StudioUser.roles[:studio_admin] %>
          <li class="<%= is_active_people_menu %>">
            <a href=""><i class="fa fa-user"></i> <span class="nav-label" data-i18n="nav.dashboard">People</span>
              <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
              <li class="<%= is_active_controller('myc/students') %>"><%= link_to '/myc/students/' do %>
                    <span class="nav-label">Students</span>
                <% end %></li>
              <li class="<%= is_active_controller('myc/families') %>"><%= link_to '/myc/families/' do %>
                    <span class="nav-label">Families</span>
                <% end %></li>
              <li class="<%= is_active_controller('myc/teachers') %>"><%= link_to '/myc/teachers/' do %>
                    <span class="nav-label">Teachers</span>
                <% end %></li>
            </ul>
          </li>
      <% end %>

      <% if session[:current_user_role_id] == StudioUser.roles[:studio_admin] || session[:current_user_role_id] == StudioUser.roles[:teacher] %>
          <li class="<%= is_active_money_menu %>">
            <a href=""><i class="fa fa-dollar"></i> <span class="nav-label" data-i18n="nav.dashboard">Money</span>
              <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
              <li class="<%= is_active_controller('myc/teacher_commissions') %>"><%= link_to '/myc/teacher_commissions/' do %>
                    <span class="nav-label">Teacher Commissions</span>
                <% end %>
              </li>
              <% if session[:current_user_role_id] == StudioUser.roles[:studio_admin] %>
                  <li class="<%= is_active_controller('myc/invoices') %>"><%= link_to '/myc/invoices/' do %>
                        <span class="nav-label">Invoices</span>
                    <% end %>
                  </li>
              <% end %>

            </ul>
          </li>
      <% end %>
      <% if session[:current_user_role_id] == StudioUser.roles[:studio_admin] || session[:current_user_role_id] == StudioUser.roles[:teacher] %>
          <li class="<%= 'active' if current_page?('/myc/myc_classes/') %>">
            <%= link_to '/myc/myc_classes/' do %>
                <i class="fa fa-music"></i> <span class="nav-label">Classes</span>
            <% end %>
          </li>
      <% end %>
      <% if session[:current_user_role_id] == StudioUser.roles[:studio_admin] %>
          <li class="<%= 'active' if current_page?('/myc/holidays/') %>">
            <%= link_to '/myc/holidays/' do %>
                <i class="fa fa-star"></i> <span class="nav-label">Holidays</span>
            <% end %>
          </li>
      <% end %>
    </ul>

  </div>
</nav>