<div class="row border-bottom" style="padding: 0 20px; background: #f3f3f4">
  <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0; background: #f3f3f4">
    <div class="navbar-header">
      <h2>
        <ul class="breadcrumb inline" style="background: #f3f3f4">
          <li><%= @breadcrumb %></li>
          <!-- <li><%= @breadcrumb_link_parent %></li>
                    <li class="active"><strong><%= @breadcrumb_link_current %></strong></li> -->
        </ul>
      </h2>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <div class="dropdown inline">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <%= current_user.email %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
          <li><%= link_to "Change your password", edit_user_registration_path %></li>
        </ul>
      </div>
      |
      <li><%= session[:current_user_role_name] %></li>
      |
      <li><%= current_user.status.humanize %></li>
      |
      <div class="dropdown inline">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <%= session[:current_studio_name] %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
          <% current_user.studios.each do |studio| %>
              <% if studio.studio_name != session[:current_studio_name] %>
                  <li><a href="/home/<%= studio.id %>"><%= studio.studio_name %></a></li>
              <% end %>
          <% end %>
        </ul>
      </div>

      <li>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      </li>

      <div class="navbar-header" style="float:right">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-success " href="#"><i class="fa fa-bars"></i>
        </a>
      </div>

    </ul>
  </nav>
</div>