<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MYC</title>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<div id="wrapper">

  <%= render 'layouts/navigation' %>

  <div id="page-wrapper" class="white-bg">

    <%= render 'layouts/topnavbar' %>

    <div class="unobtrusive-flash-container"></div>

    <%= yield %>

  </div>

</div>

</body>
</html>
