<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MYC</title>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body class="white-bg">

  <div class="unobtrusive-flash-container"></div>

  <br>
  <div class="col-md-4 col-md-offset-4 well signin">
    <div>
      <div style="text-align: center; color: grey; font-size: 50px">MYC</div>
    </div>

    <%= yield %>

  </div>
</body>
</html>
